@charset "utf-8";
/* CSS Document */
.adminmenu{width:18%; float:left; border:1px solid #d6d8e5; border-bottom-right-radius:10px; border-top-right-radius:10px; background-color:#FFFFFF; margin-top:10px;}
.adminmenu h3{margin:0px; padding:20px 0px 5px 0px}
.adminmenu .abovelink{margin:0px; padding:0px 0px 3px 20px;}

.adminmenu ul{margin:0px; padding:0px;}
.adminmenu ul li{list-style-type:none; width:80%; margin-left:10px; border-bottom:1px solid #dfe6f0; padding:3px 0px 5px 10px}
.adminmenu ul li:hover{list-style-type:none; background:url(../imgs/b.png) #ebeef4 right 8px no-repeat; width:80%; margin-left:10px; border-bottom:1px solid #dfe6f0; padding:3px 0px 5px 10px;}
.adminmenu a:hover{text-decoration:none}
.adminmenu .bottlink{margin:0px; padding:0px 0px 0px 20px;}
.adminmenu li.mnactv{font-weight:bold; text-decoration:none; list-style-type:none; background:url(../imgs/b.png) right 8px no-repeat; width:80%; margin-left:10px; border-bottom:1px solid #dfe6f0; padding:3px 0px 5px 10px}
.adminmenu .mnleft{padding:10px;}
.adminmenu .mnleft .frsmenu{margin:0px; padding-top:0px}
.admincontent{width:99.9%; float:right; margin-top:10px;}
.admincontent .contentop{margin:0px; background:#637bad; color:#FFF; font-weight:bold; padding:4px 10px; border-left:1px solid #637bad; border-top-left-radius:10px; border-right:1px solid #637bad; border-top-right-radius:10px;}
.admincontent .contenbody{width:99.95%; float:right; border-left:1px solid #d6d8e5; border-bottom:1px solid #d6d8e5; border-bottom-left-radius:10px; background-color:#FFFFFF; border-bottom-right-radius:10px; border-right:1px solid #CCC;}
.admincontent .contenbody .headrows1{padding:3px 5px; font-weight:bold; border-bottom:1px solid #d6d8e5; color:#637bad}
.admincontent .contenbody .headrows2{padding:3px 5px; font-weight:bold; border-bottom:1px solid #d6d8e5; border-left:1px solid #d6d8e5; color:#637bad}
.admincontent .contenbody .headrows3{padding:3px 5px; border-bottom:1px solid #d6d8e5; text-align:center}
.admincontent .contenbody .headrows4{padding:3px 5px; border-bottom:1px solid #d6d8e5; border-left:1px solid #d6d8e5;}
.admincontent .contenbody .headrows4 .frstop{margin-top:0px; padding-top:0px;}