@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px; font-family:"Times New Roman", Times, serif; color:#424242; background:#3b2927}
a{text-decoration:none; color:#b02423}
a:hover{text-decoration:underline; color:#b02423}
#header{width:100%; background:#a82827; color:#FFFFFF; border-bottom:2px solid #1d1717}
.maincontent{width:1024px; margin:0px auto}
#header .headleft{width:30%; float:left}
#header .headleft a, #header .headright a{text-decoration:none; color:#FFFFFF}
#header .headleft h1{margin:0px; padding:0px; letter-spacing:1px; font-size:41px;}
#header .headleft p{margin:0px; padding:0px; margin-top:-8px; letter-spacing:4px}
#header .headright{width:70%; float:right; text-align:right}
#header .headright .topright{margin:0px; padding:8px 0px 5px 0px;}
#header .headright .justspan, #footer .justspan{margin-left:10px; margin-right:10px;}
#header .headright .rightspan{margin-right:10px;}
#header .headright .bottright{margin:0px; padding:0px;}
#header .headright a:hover{text-decoration:underline; color:#FFFFFF}
.linehead{clear:both; margin:0px; padding:0px; height:7px}
#contentbody{width:100%; background:#3b2927; min-height:660px;} /*811044*/
#footer{width:100%; background:#333333; color:#FFFFFF; text-align:center; clear:both; border-top:2px solid #1d1717}
#footer a{color:#FFFFFF}
#menus{width:1024px; margin:0px auto; border-bottom:1px solid #1d1717; background:#811044}
#menus ul{margin:0px; padding:0px;}
#menus ul li{list-style-type:none; float:left; text-transform:uppercase; padding:5px 20px 5px 20px; }
#menus ul li.actv{background:#5a403f;}
#menus ul li.actv a, #menus ul li:hover a{text-decoration:none; color:#FFF}
#menus ul li:hover{background:#5a403f;}
#menus ul li.notactv{color:#3b5998; margin-left:1px;}
#menus ul li.fnotactv{color:#3b5998; margin-right:1px;}
#menus ul li a{color:#FFFFFF; text-decoration:none;}
.linespace{clear:both; margin:0px; padding:0px; height:0px; background:#0270bf}
#filter{width:1024px; margin:0px auto; margin-top:5px; background:#FFFFFF; margin-bottom:5px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; clear:both}
#filter p{margin:0px; padding:10px; text-align:center}
#filter select{margin-left:20px;}
.maincontent .memcnter{width:330px; float:left; background:#1e1516; margin-left:14px; border:1px solid #1e1516; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-top:10px; color:#FFF}
.maincontent .memleft, #acounts .displayright .memleft{width:330px; float:left; background:#1e1516; border:1px solid #1e1516; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-top:10px; color:#FFF}
.maincontent .memright, #acounts .displayright .memright{width:330px; float:right; background:#1e1516; border:1px solid #1e1516; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-top:10px; color:#FFF}
/***********/
.maincontent .memvip{background:url(../imgs/icon_vip.gif) #1e1516 no-repeat right 30px}
/**********/

.maincontent .memcnter .tbltop, .maincontent .memleft .tbltop, .maincontent .memright .tbltop, #acounts .displayright .tbltop{margin:0px; padding:2px 0px 2px 5px; background:#c42e2f; border-bottom:1px solid #c42e2f; border-top-left-radius:5px; border-top-right-radius:5px;}
/*************/
.maincontent .memcnter .memonline, .maincontent .memleft .memonline, .maincontent .memright .memonline, #acounts .displayright .memonline{background:url(../imgs/dot_active.png) #c42e2f no-repeat left 8px; padding-left:12px}
/*************/
.maincontent .memcnter .tbltop a, .maincontent .memleft .tbltop a, .maincontent .memright .tbltop a, #acounts .displayright .tbltop a{color:#FFF}
.maincontent .memcnter img, .maincontent .memleft img, .maincontent .memright img{width:115px; height:135px;}
.maincontent .memcnter p, .maincontent .memleft p, .maincontent .memright p{margin:0px; padding:0px;}
.maincontent .memcnter p.desc, .maincontent .memleft p.desc, .maincontent .memright p.desc{color:#999999; font-style:italic; text-transform:lowercase;}
.massbutton{border:1px solid #811044; background:#dd4341; color:#FFFFFF; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

/*--- style for signup */
#stepreg{width:1024px; margin:0px auto; margin-top:5px; background:#FFFFFF; margin-bottom:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; clear:both; border:1px solid #c9ccdb}
#stepreg ul{margin:0px; padding:0px;}
#stepreg ul li{list-style-type:none; float:left;}
#stepreg .intro{margin:0px 20px 0px 20px; padding:5px 0px 5px 5px; font-size:20px; border-bottom:1px solid #c9ccdb; color:#440522; text-align:center; font-weight:bold; text-transform:uppercase}
#stepreg ul li.dwidth30{width:30%}
#stepreg ul li.dwidth35{width:35%}
#stepreg .steps{font-size:20px; margin:0px; padding:10px 0px 10px 0px; text-align:center;}
#stepreg .actvsteps{color:#440522; font-weight:bold}
#stepreg .noactvsteps{color:#CCCCCC}
.signup{width:600px; margin:0px auto; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:1px solid #c9ccdb; background:#1e1516; color:#FFFFFF}
.signup .styletop{margin:0px 20px 0px 20px; padding:8px 0px 8px 0px; border-bottom:1px solid #c9ccdb; color:#FFFFFF; font-weight:bold; font-size:19px}
.signup .stylebott{border-top:1px solid #c9ccdb; background:#1e1516}
.signup .stylebott .bottleft{width:50%; float:left; padding:10px; font-style:italic}
.signup .stylebott .bottright{width:40%; float:right; padding:10px; text-align:right}
.sudwidth700{width:700px;}
/*---- end signup */
/*---- style for account ---- */
#acounts{width:100%; border:1px solid #d6d8e5; background:url(../imgs/bgmain.png) repeat-y 30% #3b2927; margin:0px auto; border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
  -webkit-border-radius-bottomleft:10px;
  -webkit-border-radius-bottomright:10px;
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-bottomright:10px;
 border-top-left-radius:10px; border-top-right-radius:10px; color:#FFFFFF
  }
#acounts h3, #searchs h3{margin:0px; padding:4px 0px 5px 10px; background:#a82827; color:#FFFFFF; border-bottom:1px solid #d6d8e5; font-weight:bolder; border-top-left-radius:10px; border-top-right-radius:10px;}
#acounts .menuleft{width:30%; float:left; padding-left:10px;}
#acounts .menuleft h4{margin:0px; padding:20px 0px 7px 0px; color:#FFFFFF}
#acounts .menuleft .abovelink{margin:0px; padding:0px 0px 3px 20px;}

#acounts .menuleft ul{margin:0px; padding:0px;}
#acounts .menuleft ul li{list-style-type:none; width:80%; margin-left:10px; border-bottom:1px solid #dfe6f0; padding:3px 0px 5px 10px}
#acounts .menuleft ul li:hover{list-style-type:none; background:url(../imgs/b.png) #ebeef4 right 8px no-repeat; width:80%; margin-left:10px; border-bottom:1px solid #dfe6f0; padding:3px 0px 5px 10px;}
#acounts .menuleft a:hover{text-decoration:none}
#acounts .menuleft .bottlink{margin:0px; padding:0px 0px 0px 20px;}
#acounts .displayright{width:68%; float:right}
#acounts .displayright .headtop{margin:0px 20px 0px 0px; padding:3px 0px 5px 0px; border:1px solid #a91e61; background:#811044; color:#ffffff; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
#acounts .displayright .headtop ul{margin:0px; padding:0px;}
#acounts .displayright .headtop ul li{list-style-type:none; background:transparent;}
#acounts .displayright .headtop ul li.contleft{float:left; padding-left:5px; font-weight:bold}
#acounts .displayright .headtop ul li.contright{float:right; padding-right:5px;}
#acounts .displayright .mem20right{margin-right:20px;}
#acounts .menuleft li.mnactv{font-weight:bold; text-decoration:none; list-style-type:none; background:url(../imgs/b.png) right 8px no-repeat; width:80%; margin-left:10px; border-bottom:1px solid #dfe6f0; padding:3px 0px 5px 10px}
#acounts .displayright .setting{background:url(../imgs/arrow.png) 0px 2px no-repeat; padding:0px 0px 0px 20px; font-weight:bold}
#acounts .displayright .moreimg{margin:10px 20px 0px 0px; padding:0px; clear:both}
#acounts .displayright .moreimg p img{width:116px; height:128px; padding-bottom:0px; margin-bottom:0px; cursor:pointer}
#acounts .displayright .rows1head{padding:3px 5px; font-weight:bold; border-bottom:1px solid #d6d8e5; border-left:1px solid #d6d8e5; color:#637bad; border-top:1px solid #d6d8e5;}
#acounts .displayright .rows2head{padding:3px 5px; font-weight:bold; border-bottom:1px solid #d6d8e5; border-left:1px solid #d6d8e5; color:#637bad; border-right:1px solid #d6d8e5; border-top:1px solid #d6d8e5;}
#acounts .displayright .rows3head{padding:3px 5px; border-bottom:1px solid #d6d8e5; border-left:1px solid #d6d8e5; color:#637bad}
#acounts .displayright .rows4head{padding:3px 5px; border-bottom:1px solid #d6d8e5; border-left:1px solid #d6d8e5; color:#637bad; border-right:1px solid #d6d8e5;}

/*----- end account*/
/*----- style for paging--------*/
#paging{margin-right:20px; clear:both; padding:10px 0px 0px 0px; font-size:17px; text-align:right}
/*----- end for pagin */

/*------ style for view profile */
#viewpro{margin:10px 0px 0px 0px; padding:0px; border:1px solid #c42e2f; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#1e1516; color:#FFFFFF}
#viewpro .protitle{margin:0px; padding:3px 10px; background:#c42e2f; color:#ffffff; border-bottom:1px solid #a91e61; font-weight:bold}
#viewpro .proimg{width:30%; float:left;}
#viewpro .proimg img{padding:7px; width:300px; height:400px;}
#viewpro .prodetails{width:69%; float:right;}
#viewpro .dtvip{background:url(../imgs/v2.png) #1e1516 no-repeat right 0px}
#viewpro .prodetails .dtabout{margin:0px; padding:7px 10px 0px 0px;}
#viewpro .prodetails .dtinterest{margin:0px; padding:0px 10px 7px 0px;}
#viewpro .prodetails .dtleft{width:48%; float:left; border:1px solid #dfe6f0; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-top:7px; min-height:380px;}
#viewpro .prodetails .dtleft .dtlhead, #viewpro .prodetails .dtright .dtlhead{margin:0px; padding:3px 10px; background:#f2f2f2; border-bottom: 1px solid #dfe6f0; font-weight:bold; color:#242424}
#viewpro .prodetails .dtright{width:48%; float:right; border:1px solid #dfe6f0; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-top:7px; margin-right:10px; min-height:380px;}
#viewpro .prodetails .dtright .mymatch{padding:5px 10px; margin:0px; color:#ffffff; font-size:14px;}
#viewpro .prodetails .dtright .matchtop{padding:7px 10px 0px 10px; margin:0px; color:#ffffff; font-size:14px}
#viewpro .prodetails .dtright .matchsec, #viewpro .prodetails .dtleft .matchsec{margin:0px; padding:5px 10px 0px 10px; font-size:14px}
#viewpro .prodetails .dtleft .matchlast{margin:0px; padding:5px 10px 5px 10px; font-size:14px}
#viewpro .prodetails .moreimg{margin:10px 10px 0px 0px; padding:0px; border:1px solid #dfe6f0; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#FFFFFF; clear:both}
#viewpro .mpreimgnew{margin:10px 10px 0px 10px; padding:0px; border:1px solid #dfe6f0; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#FFFFFF; clear:both}
#viewpro .prodetails .moreimg p, #acounts .displayright .moreimg p, #viewpro .mpreimgnew p{margin:0px; padding:8px 0px 5px 5px;}
#viewpro .prodetails .moreimg p img, #viewpro .mpreimgnew p img{width:58px; height:64px; padding-bottom:0px; margin-bottom:0px; cursor:pointer}
#morepro{margin:10px 0px 0px 0px; padding:0px; border:1px solid #c42e2f; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#F2F2F2}
#morepro p{margin:0px; padding:3px 10px; background:#c42e2f; color:#ffffff; border-bottom:1px solid #a91e61; font-weight:bold}
#morepro img{width:58px; height:64px; padding-bottom:0px; margin-bottom:0px}

/*------ style for search ----*/
#searchs{width:100%; border:1px solid #d6d8e5; margin:0px auto; border-bottom-left-radius:10px; background:#1e1516;
	border-bottom-right-radius:10px;
  -webkit-border-radius-bottomleft:10px;
  -webkit-border-radius-bottomright:10px;
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-bottomright:10px; color:#FFFFFF;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  }
#searchs .dispsearch{padding:0px 10px 0px 10px;}
#searchs .dispsearch .heads{background:url(../imgs/arrow.png) no-repeat 2px 2px; padding-left:25px; font-weight:bold}
#searchs .dispsearch .addcons{background:url(../imgs/arrow.png) no-repeat 2px 2px; padding-left:25px; font-weight:bold; cursor:pointer; width:20%}
#searchs .dispsearch .subcons{background:url(../imgs/c.png) no-repeat left 5px; padding-left:25px; font-weight:bold; cursor:pointer; width:20%}

.maincontent #browsemail{
	width:100%; border:1px solid #d6d8e5; background:#1e1516; margin:0px auto; border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
  -webkit-border-radius-bottomleft:10px;
  -webkit-border-radius-bottomright:10px;
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-bottomright:10px; color:#FFFFFF; border-top-left-radius:10px; border-top-right-radius:10px;
	}
.maincontent #browsemail .titletop{width:100%; border-bottom:1px solid #d6d8e5; background:#a82827; border-top-left-radius:10px; border-top-right-radius:10px}
.maincontent #browsemail .lefttitletop{width:20%; float:left}
.maincontent #browsemail .lefttitletop h3{margin:0px; padding:4px 0px 5px 10px; color:#440522; font-weight:bolder; color:#FFF}
.maincontent #browsemail .righttitletop{width:80%; float:right;}
.maincontent #browsemail .righttitletop ul{margin:0px; padding:0px;}
.maincontent #browsemail .righttitletop ul li{list-style-type:none; margin:4px 0px 0px 20px; float:left}
.maincontent #browsemail .righttitletop ul li input{padding:2px 20px 2px 20px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:1px solid #637bad;}
.maincontent #browsemail .mailfelft{width:20%; float:left; padding-left:10px;}
.maincontent #browsemail .mailfelft .newmail{background:#d8302f; color:#FFFFFF; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:1px solid #811044; padding:3px 20px 3px 20px; font-weight:bold}
.maincontent #browsemail .mailfelft .composemail{background:#d8302f; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:1px solid #811044; padding:3px 20px 3px 20px; font-weight:bold; color:#ffffff}
.maincontent #browsemail .mailfelft ul, .maincontent #browsemail .mailright ul{margin:0px; padding:0px;}
.maincontent #browsemail .mailfelft ul li{list-style-type:none;}
.maincontent #browsemail .mailfelft ul li .normenu{margin:0px 0px 0px 20px; padding:3px 0px 3px 20px;}
.maincontent #browsemail .mailfelft ul li .lastmenu{margin:20px 0px 0px 20px; padding:3px 0px 3px 20px;}
.maincontent #browsemail .mailfelft ul li p:hover{background:#f2f2f2;}
.maincontent #browsemail .mailfelft ul a{color:#b02423}
.maincontent #browsemail .mailfelft ul a:hover{text-decoration:none}
.maincontent #browsemail .mailfelft ul li.mailactv{border-left:3px solid #b02423; font-weight:bold; color:#b02423;}
.maincontent #browsemail .mailright{width:78%; float:right}
.maincontent #browsemail .mailright tr{cursor:pointer}
.maincontent #browsemail .mailright td{padding:4px 0px; border-bottom:1px solid #d6d8e5}
.maincontent #browsemail .mailright td.oldmail{background:#1e1516}
.maincontent #browsemail .mailright input{margin-left:0px; padding-left:0px;}
.maincontent #browsemail .mailright td.compmail{border-bottom:1px solid #1e1516}
.maincontent #browsemail .mailright td.compmail input{width:99.5%;}
.maincontent #browsemail .mailright td.compmail textarea{width:100%;}
.maincontent #browsemail .mailright .mailsubject{border-bottom:1px solid #F2F2F2; margin-top:5px; padding-top:5px; margin-bottom:3px; padding-bottom:3px}
.maincontent #browsemail .mailright ul li.fromleft{list-style-type:none; float:left}
.maincontent #browsemail .mailright ul li.sentright{list-style-type:none; float:right}
.maincontent #browsemail .mailright .contentmail{clear:both; padding-top:10px;}
.maincontent #browsemail .mailright .contentmail .answertop{border-top:1px solid #F2F2F2; color:#666666; padding-top:3px}
.maincontent #browsemail .mailright .contentmail .answerform{width:100%; margin-top:20px; color:#666666}
.maincontent #browsemail .mailright .contentmail .answerform .rows1{border-top:1px solid #CCCCCC; border-left:1px solid #CCCCCC;}
.maincontent #browsemail .mailright .contentmail .answerform .rows2{border-left:1px solid #CCCCCC;}
.maincontent #browsemail .mailright .contentmail .answerform .rows2 textarea{border:hidden; margin-top:0px; padding-top:5px; padding-left:5px; color:#666666; width:99%}
.maincontent #browsemail .mailright .contentmail .answerform .rows2 input{padding:0px 15px}
.maincontent #browsemail .mailright .blacklistrow1{border-left:1px solid #CCCCCC; border-top:1px solid #CCCCCC; color:#FFFFFF; font-weight:bold; text-align:center}
.maincontent #browsemail .mailright .blacklistrow2{border-left:1px solid #CCCCCC; padding:2px 5px 3px 5px}
.maincontent #browsemail .blacklistrows1{border-top:1px solid #CCCCCC; color:#FFFFFF; font-weight:bold; padding:3px 5px 4px 5px;}
.maincontent #browsemail .blacklistrows2{border-left:1px solid #CCCCCC; border-top:1px solid #CCCCCC; color:#FFFFFF; font-weight:bold; padding:3px 5px 4px 5px;}
.maincontent #browsemail .blacklistrows3{border-bottom:1px solid #CCCCCC; padding:2px 5px 3px 5px;}
.maincontent #browsemail .blacklistrows4{border-left:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC;}
.maincontent #browsemail .helpcontent{padding:10px;}
.maincontent #browsemail .lheight23{line-height:23px;}
.maincontent #browsemail .indentlh23{text-indent:20px; padding:0px; margin:0px; line-height:23px;}
.massbutton:hover
{
	opacity:0.8;
    filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;	
}
.rates_cont{
	width:100px;
	margin:0 auto;
}
.rates_cont a{
	float:left;
	width:20px;
	height:20px;
	background-image:url(../imgs/starlist.png);
	background-repeat:no-repeat;
	background-position:0 -20px;
	text-decoration:none;
	cursor:pointer;
}
.rates_cont a.active{
	background-position:0 0;
}
.active_rate_list {
    background-position: 0px -20px;
}
.inactive_rate_list, .active_rate_list{
	background-image: url(../imgs/starlist.png);
background-repeat: no-repeat;
height: 20px;
text-align: left;
}
.topblachlist{background:#1d1516}