
body {
    overflow-x: hidden;
}
.section-title-center{
	color: #813ee8;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.section-title-left{
  	color: #813ee8;
  	font-size: 24px;
  	font-weight: 400;
  	text-align: left;
}
/*button*/
span.align-center a.btn.btn-sm.btn-primary {
    transition: background .3s;
    background-color: #0094ff;
    color: #ffffff;
    border: 1px solid #0094ff;
    border-radius: 4px;
    margin: 5px 5px 5px 0px;
}
span.align-center a.btn.btn-sm.btn-primary:hover{
	background: #fff;
	color: #0094ff;
}

.section-subtitle-left {
   	color: #0094ff;
   	font-size: 20px;
   	font-weight: 400;
   	text-align: left;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-pro-cli {
    border: none;
    transition: background .3s;
    background-color: #0094ff;
    color: #ffffff;
    border: 1px solid #0094ff;
    border-radius: 4px;
    margin: 5px 5px 5px 0px;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
#footer .footer-top {
    background: #111;
    padding: 0px 0 0px 0!important;
}
#footer {
    padding: 0 0 0px 0!important;
  }
  .photos .card {
    margin: 10px 0px 10px 0px;
    border-radius: 4px;
    border: 0px;
}

.btn-cli-pro {
    border: none;
    transition: background .3s;
    background-color: #813ee8;
    color: #ffffff;
    border: 1px solid #813ee8;
    border-radius: 4px;
    margin: 5px 5px 5px 0px;
}
.btn-cli-pro:active,
.btn-cli-pro:focus,
.btn-cli-pro:hover {
    background-color: transparent; /* no color */
    color: #813ee8;
    border: 1px solid #813ee8;
    border-radius: 4px;
    margin: 5px 5px 5px 0px;
}