.btn-file,
.pointer,
a {
    cursor: pointer
}

#links textarea,
#profile .bio,
#profile .links {
    word-wrap: break-word
}

.constrain {
    max-width: 500px
}

.constrain.thin {
    max-width: 360px
}

.center {
    margin-left: auto;
    margin-right: auto
}

.margin-xs {
    margin: 3px
}

.margin-md {
    margin: 15px
}

.margin-lg {
    margin: 30px
}

.inline {
    display: inline
}

@font-face {
    font-family: Armata;
    font-style: normal;
    font-weight: 400;
    src: local("Armata"), local("Armata-Regular"), url(/assets/fonts/armata.woff) format("woff")
}

.text-xs {
    font-size: 10px!important
}

.text-sm {
    font-size: 14px!important
}

.text-md {
    font-size: 16px!important
}

.text-lg {
    font-size: 20px!important
}

.text-xl {
    font-size: 25px!important
}

.text-1_3x {
    font-size: 1.3em
}

.text-2x {
    font-size: 2em
}

.text-x3 {
    font-size: 3em
}

.text-x4 {
    font-size: 4em
}

.text-note {
    color: gray!important
}

.text-default {
    color: #eee
}

.text-color {
    color: #444
}

.text-ellipses {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal
}

.text-underline {
    text-decoration: underline
}

.table tr.remove,
.text-remove {
    text-decoration: line-through
}

.text-italic {
    font-style: italic
}

.text-bold {
    font-weight: 700
}

.text-normal {
    font-weight: 400
}

.text-nowrap {
    white-space: nowrap
}

.text-uppercase {
    text-transform: uppercase
}

.text-legend {
    font-family: Armata, sans-serif
}

.text-upper {
    text-transform: uppercase!important
}

.text-lower {
    text-transform: lowercase!important
}

.ani-fade {
    opacity: 1;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear
}

.ani-fade.ng-enter,
.ani-fade.ng-leave.ng-leave-active {
    opacity: 0
}

.ani-fade-show.ng-hide-add,
.ani-fade-show.ng-hide-remove {
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
    opacity: 1
}

.ani-fade-show.ng-hide-remove,
.ani-fade-show.rng-hide-add {
    display: table-row!important
}

.ani-fade-show.ng-hide-remove td,
.ani-fade-show.ng-hide-remove th {
    background-color: transparent
}

.ani-fade-show.ng-hide {
    opacity: 0
}

.animate .change {
    color: #ff4136
}

.animate .change-add,
.animate .change-remove {
    -webkit-transition: color .6s ease-in-out;
    -moz-transition: color .6s ease-in-out;
    transition: color .6s ease-in-out;
    color: #444
}

.animate .change-add-active,
.animate .change-remove {
    color: #ff4136
}

.animate .change-remove-active {
    color: #444
}

.animate .change-up {
    color: #28b62c
}

.animate .change-up-add,
.animate .change-up-remove {
    -webkit-transition: color .6s ease-in-out;
    -moz-transition: color .6s ease-in-out;
    transition: color .6s ease-in-out;
    color: #444
}

.animate .change-up-add-active,
.animate .change-up-remove {
    color: #28b62c
}

.animate .change-up-remove-active,
body {
    color: #444
}

.fa-spin {
    -webkit-animation: fa-spin .88s infinite linear;
    -moz-animation: fa-spin .88s infinite linear;
    animation: fa-spin .88s infinite linear
}

html {
    position: relative;
    min-height: 100%
}

body {
    font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 30px;
    background-color: #f9f4f5;
}

body:not(.striped) {
    padding-top: 50px
}

body:not(.striped) .strip-only {
    display: none
}

h1,
h2,
h3 {
    font-family: Armata, sans-serif;
    text-shadow: 0 1px rgba(1, 1, 1, .3)
}

p {
    line-height: 1.2em
}

textarea {
    resize: none
}

form i.fa-asterisk {
    color: #ff4136;
    margin-left: 3px;
    font-size: .7em
}

ul.no-bullets {
    padding: 0;
    margin: 0
}

ul.no-bullets li {
    list-style: none
}

@media (max-width:767px) {
    .show-xs {
        display: block!important
    }
    #root {
        overflow: hidden
    }
    #root .container-sm,
    #root>.container {
        padding: 0;
        margin: 6px;
        max-width: 767px;
        min-height: 350px
    }
}

#home .bg,
#live-feed .spotlight .rotator li .img,
#profile .main .bg,
.avatar a,
.background-cover,
.feed .feed-item>.body .story .main-photo .img,
.file-drop .preview .img,
.file-drop .preview canvas {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat
}

.fixed {
    position: fixed
}

@media (min-width:768px) {
    .vr {
        border-left: 1px solid #eee
    }
}

.loader {
    font-size: 30px
}

.mask {
    background-color: rgba(1, 1, 1, .8);
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5
}

@media (min-device-width:768px) {
    .mask.gradient {
        background: -moz-linear-gradient(top, transparent 0, rgba(0, 0, 0, .31) 30%, rgba(0, 0, 0, .65) 97%, rgba(0, 0, 0, .65) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(30%, rgba(0, 0, 0, .31)), color-stop(97%, rgba(0, 0, 0, .65)), color-stop(100%, rgba(0, 0, 0, .65)));
        background: -webkit-linear-gradient(top, transparent 0, rgba(0, 0, 0, .31) 30%, rgba(0, 0, 0, .65) 97%, rgba(0, 0, 0, .65) 100%);
        background: -o-linear-gradient(top, transparent 0, rgba(0, 0, 0, .31) 30%, rgba(0, 0, 0, .65) 97%, rgba(0, 0, 0, .65) 100%);
        background: -ms-linear-gradient(top, transparent 0, rgba(0, 0, 0, .31) 30%, rgba(0, 0, 0, .65) 97%, rgba(0, 0, 0, .65) 100%);
        background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .31) 30%, rgba(0, 0, 0, .65) 97%, rgba(0, 0, 0, .65) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0)
    }
}

.mask>.fa-spin {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    margin-left: -.5em;
    font-size: 2em;
    left: 50%;
    z-index: 999
}

.container-sm {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px
}

.table tr .highlight {
    background-color: #FFFDA1
}

.table tr th {
    text-transform: capitalize
}

.table tr.edit {
    background-color: #3498db
}

.table tr.alter,
.table tr.old {
    background-color: #f1f1f1
}

.table tr.old {
    color: #bbb
}

.table tr.remove {
    background-color: #ddd
}

.btn a:hover,
.feed .feed-item .activity-thumbs ul li a,
.table a.btn {
    text-decoration: none
}

.table tr td h4 {
    margin: 0
}

.table tr td input[type=number] {
    width: 70px
}

.start-post .popover {
    width: 250px
}

.navbar .navbar-brand.logo {
    font: 0/0 a;
    color: transparent
}

#home .bg .devices,
.center-container {
    margin-left: auto;
    margin-right: auto
}

.page-header {
    margin-top: 15px;
    margin-bottom: 0;
    border-bottom: 0;
    color: #ddd
}

.page-header h1 {
    font-size: 2em;
    color: #ddd
}

@media (max-width:767px) {
    .page-header {
        margin: 0
    }
    .page-header h1 {
        font-size: 1.5em;
        margin-top: 3px
    }
}

.back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: .5;
    font-size: 5em;
    text-align: right;
    z-index: 1;
    background: 0 0
}

.back-top:hover {
    opacity: 1
}

@media (max-width:767px) {
    .back-top {
        font-size: 3.5em;
        bottom: 15px;
        right: 15px
    }
}

.bookmarker:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden
}

.file-drop {
    padding: 15px
}

.file-drop p {
    text-align: center;
    color: #bbb;
    margin: 0
}

.file-drop .preview {
    position: relative;
    overflow: hidden
}

.file-drop .preview .img,
.file-drop .preview canvas {
    background-position-y: 20%;
    width: 100%;
    height: 100%
}

.file-drop .preview .remove-queue {
    position: absolute;
    top: 15px;
    right: 15px
}

.file-drop.nv-file-over {
    border: 2px dashed #75caeb
}

.file-drop.nv-file-over p {
    color: #158cba
}

.btn-file {
    position: relative;
    overflow: hidden
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block
}

input[readonly] {
    background-color: #fff!important;
    cursor: text!important
}

input[type=number] {
    -moz-appearance: textfield
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.image-title {
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.hidden-collapsed {
    display: block!important
}

.collapsed .hidden-collapsed,
.visible-collapsed {
    display: none!important
}

.collapsed .visible-collapsed,
.hidden-docked {
    display: block!important
}

.docked .hidden-docked,
.visible-docked {
    display: none!important
}

.docked .visible-docked {
    display: block!important
}

.inline-block {
    display: inline-block!important
}

.block {
    display: block!important
}

.thumbnails>li {
    list-style: none
}

.hover-visible-fa>.fa {
    visibility: hidden
}

.hover-visible-fa:hover>.fa {
    visibility: visible
}

.no-wrap {
    white-space: nowrap
}

@media (max-width:350px) {
    .hidden-xxs {
        display: none
    }
}

.hidden {
    display: none
}

.dropdown-menu-top {
    top: auto;
    bottom: 100%
}

.caret-up {
    border-top: 0;
    border-bottom: 4px solid
}

.width {
    width: 100%
}

.bleed-margin {
    margin-top: -15px;
    margin-bottom: -15px
}

.icon {
    width: 32px;
    height: 32px;
    margin-left: 15px
}

#credit-card.modal {
    z-index: 1151
}

#confirm.modal {
    z-index: 1155
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 30px;
    background-color: #1d202c;
    color: #bbb
}

@media (max-width:768px) {
    #footer {
        font-size: .8em
    }
}

#footer .container {
    padding-left: 6px;
    padding-right: 6px
}

#footer .container>ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#footer .container>ul>li {
    display: inline-block;
    padding: 6px
}

#footer .container .city-dropdown {
    margin-top: -50%;
    margin-bottom: -50%
}

#footer .container .logo-asacp,
#footer .container .logo-rta {
    width: 52.8px;
    height: 18.6px;
    background-size: cover;
    padding: 0;
    margin: 0;
    text-indent: -9999px;
    filter: alpha(Opacity=40);
    opacity: .4;
    border: none;
    display: inline-block
}

#footer .container .logo-asacp:hover,
#footer .container .logo-rta:hover {
    opacity: 1
}

#footer .container .logo-asacp {
    background-image: url(/assets/img/logo-asacp.png)
}

#footer .container .logo-rta {
    background-image: url(/assets/img/logo-rta.gif)
}

.alerts {
    position: fixed;
    top: 100px;
    font-size: 20px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    z-index: 9999;
    text-align: center
}

.alerts>.alert {
    opacity: .88;
    margin-top: 15px;
    color: #000
}

.btn:focus,
button:focus {
    outline: 0
}

.avatar {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle
}

.avatar a {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-color: #eee;
    border-radius: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    border: 2px solid #eee;
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out
}

.avatar a img {
    width: 100%;
    height: 100%
}

.avatar a:hover {
    border-color: #813ee8!important
}

.avatar a .fa.icon-verified {
    color: #28b62c
}

.avatar a .fa.icon-vip {
    color: #fff!important;
    background-color: #158cba;
    border: 1px solid #ff851b;
    border-radius: 50%;
    padding: 4px;
    margin-bottom: 3px
}

.avatar a .bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center
}

.avatar.square a {
    border-radius: 5px
}

.avatar.tier_1 a {
    border-color: #eee
}

.avatar.tier_2 a {
    border-color: #ff851b
}

.avatar.tier_3 a {
    border-color: #75caeb
}

.avatar.tier_4 a {
    border-color: #ff4136
}

.avatar.tier_5 a {
    border-color: #158cba
}

.avatar.sm a {
    width: 48px;
    height: 48px;
    margin: 15px
}

.avatar.md a {
    width: 64px;
    height: 64px;
    margin: 15px;
    font-size: 16px
}

.avatar.lg a {
    width: 96px;
    height: 96px;
    margin: 15px;
    font-size: 20px
}

.avatar.xl a {
    width: 125px;
    height: 125px;
    margin: 15px;
    font-size: 25px
}

.avatar.xs .bottom {
    display: none
}

.avatar.visible-xs {
    display: inline-block!important
}

@media (min-width:768px) {
    .avatar.visible-xs {
        display: none!important
    }
}

.roses {
    white-space: nowrap
}

.roses>img {
    width: 16px;
    height: 16px
}

@media (max-width:768px) {
    .roses>img {
        width: 14px;
        height: 14px
    }
}

.pinwall .wrapper {
    width: 100%;
    max-width: 1100px
}

.pinwall .columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto
}

.pinwall .columns .pin {
    display: inline-block;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, .4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    width: 100%
}

.pinwall .columns .pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px
}

.pinwall .columns .pin:not(.old) p {
    color: #333;
    margin: 0
}

.pinwall .columns .pin.active {
    border-top-color: #158cba
}

.pinwall .columns .pin.disabled {
    opacity: .5
}

.pinwall .columns .pin.old {
    color: #bbb;
    background-color: #f1f1f1
}

.pinwall .columns .pin.old .btn,
.pinwall .columns .pin.old .label:not(.label-success),
.pinwall .columns .pin.old img {
    opacity: .6
}

.pinwall .columns .pin:hover {
    box-shadow: 0 1px 2px rgba(34, 25, 25, .9)
}

.pinwall .columns .pin small {
    font-size: 10px;
    color: gray
}

@media (max-width:768px) {
    .pinwall .columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1
    }
}

@media (min-width:1100px) {
    .pinwall .columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5
    }
}

body:not(.phantom) .flip-container>.flipper {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    width: 100%;
    height: 100%
}

body:not(.phantom) .flip-container>.flipper>.back,
body:not(.phantom) .flip-container>.flipper>.front {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

body:not(.phantom) .flip-container>.flipper>.front {
    position: relative
}

body:not(.phantom) .flip-container>.flipper>.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    position: absolute
}

body:not(.phantom) .flip-container.back>.flipper>.front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    position: absolute
}

body:not(.phantom) .flip-container.back>.flipper>.back {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    position: relative
}

body.phantom .flip-container .back {
    display: none
}

.feed {
    padding: 0
}

.feed .feed-item>.tip .avatar a {
    margin: 0
}

.feed .feed-item>.tip .avatar img {
    margin-right: 0
}

.feed .feed-item>.body .point {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #fff;
    position: absolute;
    margin-left: -18px;
    margin-top: 13px;
    z-index: 3
}

.feed .feed-item>.body .point.inactive {
    border-right-color: rgba(1, 1, 1, .8)
}

.feed .feed-item>.body .story {
    position: relative;
    font-size: 1.2em
}

@media (max-width:767px) {
    .feed .feed-item>.body .story {
        font-size: .9em
    }
    .feed .feed-item>.body .story .headline {
        font-size: 1.4em!important
    }
}

.feed .feed-item>.body .story .headline p {
    display: inline;
    float: left
}

.feed .feed-item>.body .story .headline p[ng-click] {
    cursor: pointer
}

.feed .feed-item>.body .story .mask {
    border-radius: 3px;
    margin: -1px -1px -5px
}

.feed .feed-item>.body .story .title {
    margin-bottom: 15px
}

.feed .feed-item>.body .story .title .favorite {
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 15px
}

.feed .feed-item>.body .story .title .avatar {
    margin-right: 15px
}

.feed .feed-item>.body .story .title .name {
    font-family: Armata, sans-serif;
    color: gray;
    font-size: 1.5em;
    margin-right: 6px;
    vertical-align: middle;
    display: inline-block
}

.feed .feed-item>.body .story .title .age {
    margin-right: 15px
}

.feed .feed-item>.body .story .title .experiences>.label {
    margin-left: 3px
}

.feed .feed-item>.body .story .main-photo {
    margin-bottom: 15px;
    height: 320px;
    overflow: hidden;
    position: relative
}

.feed .feed-item>.body .story .main-photo>a {
    position: absolute
}

.feed .feed-item>.body .story .main-photo .img {
    -webkit-transition: margin .2s ease-in-out;
    -moz-transition: margin .2s ease-in-out;
    transition: margin .2s ease-in-out;
    background-position-y: 20%;
    margin: -5%;
    width: 110%;
    height: 110%
}

@media (min-device-width:768px) {
    .feed .feed-item>.body .story .main-photo .img {
        height: 118%
    }
}

.feed .feed-item>.body .story .main-photo .img-verify {
    font-size: 1.5em;
    bottom: 15px;
    right: 15px
}

.feed .feed-item>.body .story .main-photo .clicker {
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    top: 50%;
    left: 50%;
    margin-left: -1em;
    margin-top: -1em;
    font-size: 4em;
    background-color: #000;
    opacity: .3;
    border-radius: 15px
}

#live-feed .spotlight .rotator li .img .title,
.feed .feed-item.new>.body .story {
    -webkit-transition: max-height .4s ease-in-out;
    -moz-transition: max-height .4s ease-in-out
}

.feed .feed-item>.body .story .main-photo .clicker .fa {
    margin: 20px 30px;
    color: #eee
}

.feed .feed-item>.body .story .main-photo:hover .clicker {
    opacity: .5
}

.feed .feed-item>.body .story p.bio {
    line-height: 1.2em;
    text-overflow: ellipsis;
    max-height: 4.8em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical
}

.feed .feed-item>.body .story a.more {
    position: absolute;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    bottom: 40px
}

.feed .feed-item>.body .story dl {
    display: inline-block;
    width: 50%;
    vertical-align: top
}

.feed .feed-item>.body .story dl dt {
    float: left;
    clear: left;
    width: 6em;
    margin-right: 3px
}

.feed .feed-item>.body.flip-container:not(.new).photo .flipper .back {
    min-height: 500px
}

.feed .feed-item>.body.flip-container:not(.new).photo.back .flipper .back,
.feed .feed-item>.body.flip-container:not(.new):not(.photo) .flipper .front {
    min-height: 100px
}

.feed .feed-item>.body.flip-container:not(.new).photo .flipper .front {
    max-height: 700px
}

.feed .feed-item>.body.flip-container:not(.new).photo.back .flipper .front {
    max-height: 500px
}

.feed .feed-item>.body.flip-container:not(.new).photo.back.agency .flipper .front {
    max-height: 350px
}

.feed .feed-item>.body.flip-container:not(.new):not(.photo) .flipper .back {
    max-height: 250px
}

.feed .feed-item>.body.flip-container:not(.new):not(.photo).back .flipper .back {
    max-height: 550px
}

.feed .feed-item>.body.flip-container:not(.new):not(.photo).back .flipper .front {
    min-height: 300px
}

.feed .feed-item>.body.flip-container:not(.new).back .main-photo .clicker {
    display: none
}

.feed .feed-item>.body:not(.photo) .headline {
    margin-bottom: 0;
    font-size: 1.2em;
    font-height: 1.2em
}

.feed .feed-item .footer {
    font-size: .8em;
    min-height: 30px
}

.feed .feed-item .footer .label {
    margin-right: 3px
}

.feed .feed-item .footer .cost {
    font-size: 1.5em;
    margin-top: 3px;
    margin-right: 15px
}

@media (max-width:768px) {
    .feed .feed-item .footer .cost {
        font-size: 1.3em;
        margin-top: 6px;
        margin-right: 6px
    }
}

.feed .feed-item.new .footer {
    background-color: transparent;
    padding: 8px 0 0
}

.feed .feed-item.new .footer .dropdown-menu {
    z-index: 9999
}

.feed .feed-item.new .footer .auto-bumpup {
    margin-bottom: 8px
}

.feed .feed-item.new .footer .auto-bumpup select.days {
    display: inline-block;
    padding: 0 0 0 8px;
    width: 87px;
    height: 30px
}

.feed .feed-item.new .footer .repeat-post {
    margin-right: 6px
}

.feed .feed-item.new .tabs {
    padding-bottom: 15px
}

.feed .feed-item.new.active .non-active-only,
.feed .feed-item.new:not(.active) .active-only {
    display: none
}

.feed .feed-item.new:not(.active)>.body .story {
    max-height: 170px
}

.feed .feed-item.new>.body .story {
    transition: max-height .4s ease-in-out;
    max-height: 1000px
}

.feed .feed-item.new>.body .story .profiles {
    margin-right: 15px
}

.feed .feed-item.new>.body .story .file-drop {
    margin-bottom: 0;
    margin-top: 15px
}

.feed .feed-item.new>.body .story .file-drop .preview {
    margin-top: 15px;
    max-height: 350px
}

.feed .feed-item.new>.body .story .file-drop .preview.fixed-height {
    height: 320px
}

.feed .feed-item.new .tips-rotator {
    margin: 0;
    padding: 3px;
    font-size: .9em
}

.feed .feed-item .activity-thumbs {
    width: 100%;
    position: relative
}

.feed .feed-item .activity-thumbs ul {
    display: inline-block;
    padding: 0 10px 10px;
    margin: 0;
    white-space: nowrap
}

.feed .feed-item .activity-thumbs ul li {
    display: inline-block;
    list-style: none;
    position: relative;
    vertical-align: top
}

@media (min-device-width:992px) {
    .feed .feed-item .activity-thumbs ul li:hover {
        opacity: .7
    }
}

.feed .feed-item .activity-thumbs ul li img {
    max-width: 200px;
    height: 100px;
    display: inline
}

.feed .feed-item .activity-thumbs ul li .img {
    width: 100px;
    height: 100px
}

.feed .feed-item .activity-thumbs ul li .img.private-img {
    padding-top: 32px;
    text-align: center;
    background: #ddd;
    color: #777
}

.feed .feed-item .activity-thumbs ul li .img.private-img .tag {
    font-size: 12px
}

@media (min-device-width:768px) {
    .feed .feed-item:not(.new)>.body:not(: hover):not(.back) .story .main-photo .img {
        margin-top: -8%
    }
    .feed .feed-item:not(.new)>.body:not(:hover):not(.back) .footer .fa-info-circle {
        display: none
    }
}

.feed .post-hint .alert {
    min-width: 250px
}

.cards span {
    display: inline-block;
    margin: 0 1px;
    width: 40px;
    height: 26px;
    background: url(/assets/img/credit_48px.jpg) -14px -18px
}

.cards .visa {
    background-position: -166.6px -468.6px
}

.cards .mastercard {
    background-position: -319.2px -318.4px
}

.cards .amex {
    background-position: -319.2px -18px
}

.cards .jcb {
    background-position: -90.3px -318.4px
}

.cards .discover {
    background-position: -395.5px -168.2px
}

.cards .diners {
    background-position: -319.2px -168.2px
}

.recent_ads li {
    margin-right: 5px
}

.recent_ads li:last-child {
    margin-right: 0
}

.recent_ads .ad_thumb {
    width: 106px;
    height: 90px;
    display: block;
    background-size: cover
}

.ptf-link {
    display: block;
    position: fixed;
    z-index: 1052;
    top: -1px;
    left: 0;
    right: 0;
    height: 53px;
    border-radius: 0
}

.ptf-link .ptf-text,
.tips-rotator .tips {
    display: inline-block
}

.ptf-link .ptf-thumbs {
    display: inline-block;
    margin-right: 5px
}

.ptf-link .ptf-thumbs img {
    height: 30px;
    margin-right: 3px
}

.ptf-link .ptf-thumbs img:last-child {
    margin-right: 0
}

.notifications {
    font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 150px;
    text-shadow: none
}

.notifications ul {
    max-height: 500px;
    overflow-y: auto
}

.notifications ul li.read {
    background-color: #f1f1f1;
    color: #bbb
}

.notifications ul li .message {
    font-size: 1.2em;
    color: #158cba!important
}

.notifications ul li .time {
    color: gray;
    float: right;
    margin: 3px
}

.list-group,
.table {
    margin-bottom: 0
}

.tips-rotator {
    font-size: 16px;
    color: #0A4157
}

@media (max-width:768px) {
    .tips-rotator {
        font-size: 14px
    }
}

.tips-rotator .tips {
    margin-right: 15px
}

.tips-rotator .tips li {
    float: left;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.tips-rotator .tips li:not(.active) {
    display: none
}

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    top: -3px
}

.ribbon-wrapper.left {
    left: -3px
}

.ribbon-wrapper.left .ribbon {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -30px
}

.ribbon-wrapper.right {
    right: -3px
}

.ribbon-wrapper.right .ribbon {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -5px
}

.ribbon-wrapper .ribbon {
    font: 700 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
    position: relative;
    padding: 7px 0;
    top: 15px;
    width: 120px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3)
}

.ribbon-wrapper .ribbon.ribbon-green {
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340
}

.ribbon-wrapper .ribbon:after,
.ribbon-wrapper .ribbon:before {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px
}

.ribbon-wrapper .ribbon:before {
    left: 0
}

.ribbon-wrapper .ribbon:after {
    right: 0
}

.btn .cover,
.label.counter {
    right: 3px;
    position: absolute
}

.btn .cover {
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
    top: 3px;
    bottom: 3px;
    width: 50%;
    border-radius: 3px;
    background-color: #186d1a;
    padding: .4em
}

.btn:hover .cover {
    width: 40%
}

.btn h2 {
    font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif
}

.btn h2.text-sm {
    font-size: 12px!important
}

.label.counter {
    top: 10px
}

.nav-pills>li.active:not(.menu),
.navbar .navbar-nav li.active:not(.open),
.selector {
    box-shadow: inset #75caeb 0 -3px 0 0
}

.navbar {
    font-family: Armata, sans-serif;
    background-color: #1d202c;
    border-width: 0;
    border-radius: 0;
    font-size: 16px;
    text-shadow: 0 1px rgba(1, 1, 1, .3);
    z-index: 1050
}

.navbar.open {
    z-index: 1060
}

.navbar.open .open-hidden {
    display: none!important
}

.navbar .navbar-nav li a:not(.btn) {
    color: #bbb
}

.navbar .navbar-nav li a:not(.btn):hover,
.navbar .navbar-nav li.open>a,
.navbar .navbar-nav li.open>a:hover {
    color: #eee
}

.navbar .navbar-nav li.open .dropdown-menu>li a:hover {
    color: #bbb
}

@media (max-width:768px) {
    .navbar .navbar-nav li.open .dropdown-menu>li a:hover {
        color: #eee
    }
    .navbar .navbar-nav .dropdown-menu li.divider {
        background-color: #1d2935
    }
}

.navbar .navbar-nav li.active:not(.open) a {
    color: #eee!important
}

@media (max-width:767px) {
    .notifications ul {
        max-height: 300px
    }
    .label.counter {
        top: 3px
    }
    .navbar .navbar-nav li.active:not(.open):not(.stay-top) {
        box-shadow: inset #75caeb 20px 0 0 -15px
    }
}

.navbar .navbar-nav .dropdown-menu {
    text-shadow: 0
}

#home .bg .value-prop h1,
#home .bg .value-prop h2,
#tour .promo-header h1,
#tour .promo-header h2,
#tour .promo-header h3 {
    text-shadow: 0 0 1px rgba(0, 0, 0, .6)
}

.navbar .navbar-nav .dropdown-menu li a {
    color: #444;
    font-weight: 200;
    font-size: 16px
}

.navbar .navbar-nav .dropdown-menu li a .fa,
.navbar .navbar-nav .dropdown-menu li a .glyphicon {
    margin-right: 15px
}

.navbar .navbar-header {
    height: 50px
}

.navbar .bold {
    font-weight: 800;
    font-size: 1.2em
}

.navbar .navbar-collapse.collapse.in {
    max-height: 100%
}

.navbar .navbar-collapse.collapse.in .navbar-nav li.expand-xs.dropdown.active {
    box-shadow: none
}

.navbar .navbar-btn:focus,
.navbar .navbar-btn:hover {
    margin-top: 10px
}

.navbar .navbar-btn:active {
    margin-top: 11px
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
    color: #bbb
}

.navbar .navbar-brand.logo {
    padding: 5px
}

@media (max-width:767px) {
    .navbar .navbar-center-xs {
        position: absolute;
        left: 65px;
        margin-top: 5px
    }
    .navbar .navbar-center-xs>li {
        float: left
    }
    .navbar .navbar-center-xs>li>a {
        padding: 13px
    }
}

@media (min-width:768px) {
    .navbar .navbar-header {
        min-width: 300px
    }
    .navbar .navbar-form.search {
        width: 200px
    }
}

@media (min-width:992px) {
    .navbar .navbar-header {
        min-width: 400px
    }
    .navbar .navbar-form.search {
        width: 300px
    }
}

.navbar .navbar-toggle {
    border-color: #1d2935;
    color: #eee;
    padding: 6px 13px
}

.navbar .navbar-toggle:hover {
    color: #1d202c
}

.dropdown-menu li:not(.active) .active-only {
    display: none
}

.table .btn-group {
    white-space: nowrap
}

.table .btn-group .btn {
    float: none;
    display: inline-block
}

.table .label,
.wrapper .label {
    display: inline-block;
    margin-right: 6px;
    margin-top: 3px;
    margin-bottom: 3px
}

.table .label:last-child,
.wrapper .label:last-child {
    margin-right: 0
}

.jumbotron,
.panel.panel-dark {
    background-color: #f9f4f5;
    border-color: #2c3e50;
    color: #bbb
}

.jumbotron img.logo,
.panel.panel-dark img.logo {
    margin: 50px;
    width: 50%
}

@media (max-width:768px) {
    .jumbotron img.logo,
    .panel.panel-dark img.logo {
        width: 80%;
        margin: 10px
    }
}

.jumbotron h2,
.panel.panel-dark h2 {
    font-size: 1.5em;
    color: #bbb;
    margin-top: 0;
    margin-bottom: 15px
}

.modal blockquote,
.progress {
    margin-bottom: 0
}

.jumbotron h3,
.panel.panel-dark h3 {
    font-size: 1.2em;
    color: gray
}

@media (max-width:768px) {
    .jumbotron h2,
    .panel.panel-dark h2 {
        font-size: 1.2em
    }
    .row.minor-padding {
        padding-left: 15px;
        padding-right: 15px
    }
}

.row.minor-padding>div {
    padding-left: 3px;
    padding-right: 3px
}

.row.minor-inner-padding>:first-child {
    padding-right: 3px
}

.row.minor-inner-padding>:last-child {
    padding-left: 3px
}

.row>h3 {
    margin-left: 30px
}

.form-group.short-inline {
    display: inline-block;
    width: 130px
}

.bg-edit,
.jwc_zoom_in,
.jwc_zoom_out {
    display: none!important
}

.form-group .help-block {
    font-size: 14px
}

.form-group .help-block.no-margin {
    margin-top: 0;
    margin-bottom: 0
}

.modal {
    z-index: 1150
}

@media (min-width:992px) {
    .modal.stretch.stretch-md .modal-dialog {
        max-width: 992px;
        width: 90%
    }
    .navbar .navbar-header {
        min-width: 415px
    }
}

.bootstrap-tagsinput,
.carousel.image-gallery .carousel-inner img {
    width: 100%
}

.modal .modal-md {
    max-width: 450px
}

.modal.modal-middle .modal-dialog {
    margin-top: 100px
}

.modal .modal-narrow .modal-body {
    padding: 15px 30px
}

.modal h1,
.modal h2,
.modal h3,
.modal h4 {
    margin-top: 3px
}

.modal .panel {
    margin: 0
}

.modal .panel.modal-clear {
    box-shadow: none;
    border: 0;
    background-color: transparent;
    margin-top: -30px
}

.modal .btn-close {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10
}

.modal .alert {
    margin: 0
}

.carousel.image-gallery .mask {
    top: auto;
    background-color: #aaa;
    z-index: 10;
    height: 75px
}

@media (max-width:768px) {
    .modal blockquote {
        font-size: .8em
    }
    .carousel.image-gallery .mask {
        height: 60px
    }
}

.carousel.image-gallery .carousel-inner .image-title {
    font-size: 20px;
    padding: 15px
}

.carousel.image-gallery .carousel-inner .fa-check {
    position: absolute;
    font-size: 25px;
    right: 15px;
    bottom: 15px;
    z-index: 9999
}

#home .bg,
.thumbnail {
    position: relative
}

.panel.minor-padding>div {
    padding: 6px
}

.panel.panel-dark {
    background-color: #263d54
}

.panel.panel-dark>.panel-footer,
.panel.panel-dark>.panel-heading {
    background-color: #1c2e3f
}

.nav-pills>li:not(.menu) {
    margin-right: 15px
}

@media (max-width:768px) {
    .nav-pills>li:not(.menu) {
        margin-right: 3px
    }
    .nav-pills>li:not(.menu)>a {
        padding-left: 6px;
        padding-right: 6px
    }
}

.nav-pills>li:not(.menu).active>a,
.nav-pills>li:not(.menu).active>a:hover {
    background-color: inherit;
    color: inherit
}

.popover,
.tooltip {
    z-index: 1055
}

.progress {
    height: 30px
}

.progress .progress-bar {
    padding-top: 3px;
    font-size: 14px
}

.progress .btn-info {
    color: #ff4136
}

#loading-bar-spinner {
    z-index: 9999
}

a.text-inherit,
a.text-inherit:active,
a.text-inherit:focus,
a.text-inherit:hover {
    color: inherit;
    text-transform: inherit
}

#authorize .login-info-panel,
#authorize .profile-info-panel {
    margin-bottom: 20px
}

.panel-success>.panel-heading h1,
.panel-success>.panel-heading h2,
.panel-success>.panel-heading h3,
.panel-success>.panel-heading h4,
.panel-success>.panel-heading h5,
.panel-success>.panel-heading h6 {
    color: #fff
}

.feed-item .popover,
.nav-filters .popover {
    z-index: 1
}

ul.filters .nav-pills>li.active>a,
ul.filters .nav-pills>li.active>a:focus,
ul.filters .nav-pills>li.active>a:hover {
    background: #ff851b
}

#home .bg .value-prop,
#tour .value-prop {
    opacity: 0;
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    transition: all .6s ease-out;
    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s
}

body.loaded #home .bg .value-prop,
body.loaded #tour .value-prop {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.jwc_controls {
    z-index: 2!important;
    text-align: center!important
}

.jwc_controls span {
    float: none!important;
    font-size: 14px!important;
    margin-top: 4px!important
}

.jwc_frame .bg-edit {
    display: block!important
}

.pac-container {
    z-index: 1052!important
}

.navbar .navbar-brand.logo img {
    margin-top: -1px;
    height: 46px
}

@media (max-width:991px) {
    .navbar .navbar-brand.logo {
        width: 50px;
        border-left: 6px solid transparent;
        overflow: hidden
    }
    .navbar .navbar-brand.logo img {
        height: 60px;
        float: right;
        margin-right: -7px;
        margin-top: 0
    }
}

#request-city {
    z-index: 1051!important
}

#home {
    overflow: inherit!important;
    color: #fff;
    text-align: center
}

#home .bg {
    background-image: url(/assets/img/bg/city-bridge.jpg);
    background-position: 50% 40%;
    height: 750px;
    width: 100%
}

#home .bg .panel {
    position: absolute;
    width: 600px;
    margin-left: -300px;
    top: 15%;
    left: 50%;
    opacity: .7
}

@media (max-width:768px) {
    #home .bg {
        background-image: url(/assets/img/bg/city-bridge-xs.jpg);
        height: 480px
    }
    #home .bg .panel {
        width: 90%;
        left: 5%;
        margin-left: 0
    }
}

#home .bg .value-prop {
    margin-top: 30px
}

#home .bg .value-prop .logo {
    width: 400px
}

#home .bg .value-prop .btn {
    font-size: 16px;
    line-height: 16px
}

@media (min-width:768px) {
    #home .bg .value-prop .btn {
        padding: 18px 20px 17px
    }
}

#home .bg .value-prop h1 {
    color: #fff;
    font-size: 32px
}

@media (max-width:768px) {
    #home .bg .value-prop .logo {
        width: 200px
    }
    #home .bg .value-prop h1 {
        font-size: 20px
    }
}

#home .bg .value-prop h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 35px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200
}

@media (max-width:768px) {
    #home .bg .value-prop h2 {
        font-size: 20px;
        margin-bottom: 15px
    }
}

#home .bg .value-prop a.text-legend {
    text-shadow: 0 0 1px rgba(0, 0, 0, .6);
    color: #fff;
    font-weight: 600
}

#home .bg .devices {
    margin-top: 60px;
    opacity: .7;
    color: #fff
}

#home .bg .devices ul {
    padding: 0
}

#home .bg .devices ul li {
    display: inline-block;
    font-size: 6em;
    list-style: none;
    margin: 15px
}

#home .bg .devices ul li div {
    font-size: 12px
}

@media (max-width:768px) {
    #home .bg .devices {
        margin-top: 15px;
        font-size: 14px
    }
    #home .bg .devices ul li {
        font-size: 2em
    }
    #home .bg .devices ul li div {
        display: none
    }
}

#home .learn {
    padding: 15px;
    text-align: left;
    margin-top: 15px
}

#home h3 {
    color: #fff;
    margin-top: 40px
}

#home .fa-stack,
#home .panel-heading {
    color: #fff
}

#home #learn h3 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 1.3em
}

#home #learn p {
    color: #eee
}

@media screen and (min-width:769px) {
    #footer .cities,
    #home .bg .value-prop .cities {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        width: 440px
    }
}

#breadcrumbs .breadcrumb {
    background: 0 0;
    border: none;
    margin-bottom: 0
}

#breadcrumbs .breadcrumb h1 {
    font: inherit;
    color: inherit;
    margin: 0;
    display: inline
}

#signup.show-form .advertiser-wrapper-panel>.panel-heading,
#signup.show-form .browser-wrapper-panel>.panel-heading,
#signup.show-form .row-header-bg,
.signup-view.show-form .advertiser-wrapper-panel>.panel-heading,
.signup-view.show-form .browser-wrapper-panel>.panel-heading,
.signup-view.show-form .row-header-bg {
    display: none
}

#login .flip-container {
    width: 100%
}

#signup .row-header-bg,
.signup-view .row-header-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    background: url(/assets/img/bg/city-bridge.jpg) 50% 0 no-repeat;
    background-size: cover
}

#signup .row-header,
.signup-view .row-header {
    padding-top: 15px;
    position: relative;
    overflow: hidden
}

#signup .advertiser-wrapper-panel,
.signup-view .advertiser-wrapper-panel {
    border: none;
    background: rgba(0, 0, 0, .3)
}

#signup .advertiser-wrapper-panel>.panel-heading,
.signup-view .advertiser-wrapper-panel>.panel-heading {
    background: rgba(0, 0, 0, .3)
}

#signup.show-form .row-header,
.signup-view.show-form .row-header {
    margin-bottom: 15px
}

#signup.show-form .advertiser-wrapper-panel,
#signup.show-form .browser-wrapper-panel,
.signup-view.show-form .advertiser-wrapper-panel,
.signup-view.show-form .browser-wrapper-panel {
    background: 0 0;
    box-shadow: none;
    margin: 0
}

#signup.show-form .advertiser-wrapper-panel>.panel-body,
#signup.show-form .browser-wrapper-panel>.panel-body,
.signup-view.show-form .advertiser-wrapper-panel>.panel-body,
.signup-view.show-form .browser-wrapper-panel>.panel-body {
    margin: 0;
    padding-bottom: 0;
    padding-top: 0
}

#signup.show-form .browser-wrapper-panel,
.signup-view.show-form .browser-wrapper-panel {
    margin-bottom: 15px
}

#signup.show-form .advertiser-wrapper-panel>.panel-body,
.signup-view.show-form .advertiser-wrapper-panel>.panel-body {
    padding: 0
}

#signup .browser-wrapper-panel,
.signup-view .browser-wrapper-panel {
    border: none;
    background: 0 0
}

#signup .browser-wrapper-panel>.panel-heading,
.signup-view .browser-wrapper-panel>.panel-heading {
    background: 0 0
}

#signup .browser-wrapper-panel .panel,
.signup-view .browser-wrapper-panel .panel {
    margin: 0
}

#signup .panel .panel-heading h2,
.signup-view .panel .panel-heading h2 {
    margin: 0;
    font-size: 25px
}

@media (max-width:992px) {
    #signup .panel .panel-heading h2,
    .signup-view .panel .panel-heading h2 {
        font-size: 20px
    }
}

#signup .panel .panel-heading h2 .fa,
.signup-view .panel .panel-heading h2 .fa {
    width: 25px;
    margin-right: 3px
}

#signup .panel .panel-heading h2 .text-sm,
.signup-view .panel .panel-heading h2 .text-sm {
    margin-left: 28px;
    margin-top: 3px
}

#signup .combodate,
.signup-view .combodate {
    display: block;
    white-space: nowrap
}

#signup .combodate select.form-control,
.signup-view .combodate select.form-control {
    display: inline-block;
    width: 33.333%!important;
    padding: 6px 2px
}

#signup hr,
.signup-view hr {
    margin-top: 10px;
    margin-bottom: 10px
}

@media (min-width:992px) {
    #signup ul.can li,
    .signup-view ul.can li {
        margin-bottom: 15px;
        font-size: 1.3em
    }
}

#signup ul.can li.with-icon,
.signup-view ul.can li.with-icon {
    list-style: none;
    margin-left: -30px
}

#signup ul.can li.with-icon .fa,
.signup-view ul.can li.with-icon .fa {
    margin-right: 10px;
    width: 16px;
    text-align: center
}

#signup ul.can li.title,
.signup-view ul.can li.title {
    list-style: none;
    margin-left: -30px;
    text-transform: uppercase;
    font-weight: 800
}

#signup ul.can li.title .fa,
.signup-view ul.can li.title .fa {
    margin-right: 15px
}

#signup .note,
#signup ul.can.not,
.signup-view .note,
.signup-view ul.can.not {
    font-size: .9em
}

#signup .terms,
.signup-view .terms {
    font-size: 14px;
    margin-top: 15px;
    color: #888
}

#signup .aup,
.signup-view .aup {
    margin-bottom: 15px
}

#live-feed .filters {
    width: 175px
}

@media (min-width:768px) {
    #members .filters {
        width: 600px
    }
    #live-feed .cities,
    #members .cities {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0
    }
}

@media (max-width:767px) {
    #members .filters {
        width: 300px
    }
}

#members .filter-list {
    margin-bottom: 8px
}

#live-feed .filters,
#members .filters {
    background: #fff
}

#live-feed .filters li .active-only,
#members .filters li .active-only {
    display: none
}

#live-feed .filters li .non-active-only,
#live-feed .filters li.active .active-only,
#members .filters li .non-active-only,
#members .filters li.active .active-only {
    display: block
}

#live-feed .filters li.active .non-active-only,
#live-feed .spotlight .rotator li:not(:hover) .hover-only,
#members .filters li.active .non-active-only {
    display: none
}

#live-feed .filters li .fa,
#members .filters li .fa {
    margin-top: 1px
}

#live-feed .filters .nav li,
#members .filters .nav li {
    width: 100%;
    margin-left: 0
}

#live-feed .filters .nav a,
#members .filters .nav a {
    color: #999;
    padding: 6px 20px
}

#live-feed .filters .nav a:hover,
#members .filters .nav a:hover {
    color: #333
}

#live-feed .filters .nav li.active a,
#members .filters .nav li.active a {
    color: #fff
}

#live-feed .cities.side-menu,
#members .cities.side-menu {
    padding-left: 70px
}

#live-feed .cities.side-menu .countries,
#members .cities.side-menu .countries {
    width: 70px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #f5f5f5;
    border-right: 1px solid #e7e7e7
}

#live-feed .cities.side-menu .countries li,
#members .cities.side-menu .countries li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent
}

#live-feed .cities.side-menu .countries li a,
#members .cities.side-menu .countries li a {
    color: #999
}

#live-feed .cities.side-menu .countries li:hover a,
#members .cities.side-menu .countries li:hover a {
    color: #000;
    background: #fff
}

#live-feed .cities.side-menu .countries li.active,
#members .cities.side-menu .countries li.active {
    background: #fff;
    border-color: #e7e7e7;
    margin-right: -1px
}

#live-feed .cities .countries,
#members .cities .countries {
    padding: 0;
    margin-bottom: 5px
}

#live-feed .cities .countries li,
#members .cities .countries li {
    text-align: center;
    margin-right: 0
}

#live-feed .cities .countries li.active a,
#members .cities .countries li.active a {
    color: #333
}

#live-feed .cities .countries li a,
#members .cities .countries li a {
    padding: 8px
}

#live-feed .cities .countries li a .icon,
#members .cities .countries li a .icon {
    width: 14px;
    height: 14px;
    display: block;
    margin: 0 auto 1px
}

#live-feed .cities .region-cities,
#members .cities .region-cities {
    padding: 0
}

#live-feed .cities .region-cities>li.active a,
#live-feed .cities .region-cities>li.active a:hover,
#members .cities .region-cities>li.active a,
#members .cities .region-cities>li.active a:hover {
    color: #000
}

#live-feed .cities .region-cities>li>a,
#members .cities .region-cities>li>a {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #999;
    white-space: nowrap
}

#live-feed .cities .region-cities>li>a:hover,
#members .cities .region-cities>li>a:hover {
    color: #000
}

#live-feed .cities>li>a,
#members .cities>li>a {
    padding: 3px 10px
}

#live-feed .panel-info .panel-heading {
    color: #0A4157
}

#live-feed .spotlight .icon-lg {
    width: 120px;
    height: 120px;
    margin-bottom: 10px
}

#live-feed .spotlight .rn-carousel-indicator {
    text-align: center
}

#live-feed .spotlight .rn-carousel-indicator span {
    color: #ddd
}

#live-feed .spotlight .rn-carousel-indicator span.active {
    color: #158cba
}

#live-feed .spotlight .rn-carousel-controls {
    color: #fff
}

@media (max-width:768px) {
    #live-feed .spotlight .rn-carousel-controls {
        display: none
    }
}

#live-feed .spotlight .rn-carousel-control {
    background: rgba(255, 255, 255, .75);
    color: rgba(0, 0, 0, .75);
    border-radius: 4px;
    height: 22px;
    line-height: 22px;
    width: 22px;
    text-align: center;
    top: auto;
    bottom: 11px;
    font-size: 12px;
    font-weight: 700
}

#live-feed .spotlight .rn-carousel-control.rn-carousel-control-prev {
    left: auto;
    right: 2.6em
}

#live-feed .spotlight .rotator {
    position: relative
}

#live-feed .spotlight .rotator.on {
    overflow: hidden;
    height: 200px
}

#live-feed .spotlight .rotator li,
#live-feed .spotlight .rotator li.new form {
    height: 100%
}

#live-feed .spotlight .rotator li img.icon {
    margin-bottom: 3px
}

#live-feed .spotlight .rotator li:not(.new).label {
    position: absolute;
    top: 2px;
    left: 2px
}

#live-feed .spotlight .rotator li .img {
    width: 100%;
    height: 100%;
    min-height: 200px
}

#live-feed .spotlight .rotator li .img .title {
    transition: max-height .4s ease-in-out;
    border-radius: 0;
    top: auto;
    margin: 0;
    padding: 13px;
    max-height: 50px;
    color: #fff;
    text-align: left
}

#live-feed .spotlight .rotator li .img .title a {
    color: #fff
}

#live-feed .spotlight .rotator li .img .title .hover-only {
    color: #eee;
    font-size: 1.2em
}

#live-feed .spotlight .rotator li:not(:hover) .img .title {
    -webkit-transition: max-height .4s ease-in-out;
    -moz-transition: max-height .4s ease-in-out;
    transition: max-height .4s ease-in-out
}

#live-feed .spotlight .rotator li.new form .title {
    margin-bottom: 15px
}

#live-feed .spotlight .rotator li.new form .title .profiles {
    margin-right: 15px
}

#live-feed .spotlight .rotator li.new form .file-drop {
    height: 200px
}

#live-feed .spotlight .rotator li.new form .file-drop .preview {
    height: 100%
}

#live-feed .spotlight .rotator li.new form .file-drop p {
    font-size: 1.3em
}

@media (min-width:992px) {
    #live-feed .spotlight .new .profile-name {
        display: inline-block;
        vertical-align: bottom;
        max-width: 115px;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

#live-feed .spotlight .new .duration {
    margin-bottom: 10px
}

#live-feed .spotlight .new .duration .btn.active {
    background-color: #51bce6;
    border-color: #29ade0;
    color: #fff
}

#live-feed .spotlight .new .cost {
    font-size: 1.4em;
    margin-right: 10px
}

#live-feed .fixed {
    width: 292px;
    z-index: 1
}

@media (min-width:1200px) {
    #live-feed .fixed {
        width: 262px
    }
}

#live-feed .snap-dock-wrapper {
    margin-bottom: 20px
}

#live-feed .fixed-side.docked {
    position: fixed;
    top: 25px
}

#live-feed .fixed-side.docked.docked-after {
    transition: top .15s ease-out;
    top: 65px
}

@media (max-width:991px) {
    #live-feed .fixed-side.docked {
        display: none
    }
}

@media (min-width:992px) {
    #live-feed .fixed-side.docked {
        width: 281px
    }
}

@media (min-width:1200px) {
    #live-feed .fixed-side.docked {
        width: 253px
    }
}

@media (max-width:767px) {
    #live-feed .cities,
    #members .cities {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0
    }
    #live-feed .context-desc {
        padding: 0
    }
}

#live-feed .feed-item .recent-photos {
    position: relative;
    display: inline-block;
    width: 100%;
    max-height: 100px
}

@media (min-device-width:992px) {
    #live-feed .feed-item .recent-photos:hover .more {
        background: rgba(0, 0, 0, .9)
    }
}

#live-feed .feed-item .recent-photos ul.thumbs {
    display: inline-block;
    padding: 0;
    white-space: nowrap;
    margin: 0;
    width: 100%;
    overflow: hidden
}

#live-feed .feed-item .recent-photos ul.thumbs li {
    display: inline-block;
    list-style: none;
    position: relative;
    width: 25%;
    height: 100px
}

#live-feed .feed-item .recent-photos ul.thumbs li img {
    max-width: 200px;
    height: 100px;
    display: inline
}

#live-feed .feed-item .recent-photos ul.thumbs li.img {
    background-size: cover
}

#live-feed .feed-item .recent-photos .more {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    border: none;
    color: #fff;
    padding: 3px;
    text-align: center
}

@media (min-width:992px) {
    .spot-light-padding {
        margin-top: 350px
    }
}

#members h3.bookmarker,
.members h3.bookmarker {
    color: #bbb
}

#members.members-inline,
.members.members-inline {
    text-align: center
}

#members.members-inline .member,
.members.members-inline .member {
    display: inline-block;
    float: none;
    text-align: left
}

#members .member:hover .cover,
.members .member:hover .cover {
    opacity: 1;
    filter: alpha(opacity=1);
    background: rgba(0, 0, 0, .15);
    padding-top: 100px
}

#members .member,
.members .member {
    position: relative;
    float: left;
    padding: 8px
}

#members .member .cover,
.members .member .cover {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 0 0;
    z-index: 1;
    margin: 10px;
    text-align: center;
    color: #fff;
    padding-top: 120px;
    padding-left: 5px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transition: all .15s ease;
    -webkit-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    font-size: 13px
}

#members .member .cover .stat,
.members .member .cover .stat {
    display: block;
    margin-top: 4px
}

@media (max-width:767px) {
    #members .member,
    .members .member {
        width: 50%
    }
}

#members .member .avatar,
.members .member .avatar {
    margin-right: 0
}

#members .member .avatar a,
.members .member .avatar a {
    height: 266px;
    width: 200px;
    margin: 0
}

@media (max-width:767px) {
    #members .member .avatar,
    .members .member .avatar {
        width: 100%
    }
    #members .member .avatar a,
    .members .member .avatar a {
        width: 100%;
        height: 200px
    }
    #members .member.member-sm,
    .members .member.member-sm {
        width: 33.333%
    }
}

#members .member.member-sm .avatar a,
.members .member.member-sm .avatar a {
    height: 186.2px;
    width: 140px
}

@media (max-width:767px) {
    #members .member.member-sm .avatar,
    .members .member.member-sm .avatar {
        width: 100%
    }
    #members .member.member-sm .avatar a,
    .members .member.member-sm .avatar a {
        width: 100%;
        height: 140px
    }
}

@media (min-width:768px) {
    #members .member.member-sm .legend,
    .members .member.member-sm .legend {
        left: 50%;
        width: 136px;
        margin-left: -71px
    }
}

@media (max-width:767px) {
    #members .member.member-xs,
    .members .member.member-xs {
        width: 25%
    }
}

#members .member.member-xs .avatar a,
.members .member.member-xs .avatar a {
    height: 159.6px;
    width: 120px
}

@media (max-width:767px) {
    #members .member.member-xs .avatar,
    .members .member.member-xs .avatar {
        width: 100%
    }
    #members .member.member-xs .avatar a,
    .members .member.member-xs .avatar a {
        width: 100%;
        height: 120px
    }
}

@media (min-width:768px) {
    #members .member.member-xs .legend,
    .members .member.member-xs .legend {
        left: 50%;
        width: 116px;
        margin-left: -61px
    }
}

#members .member .top-right,
.members .member .top-right {
    position: absolute;
    top: 12px;
    right: 12px
}

#members .member .top-left,
.members .member .top-left {
    position: absolute;
    top: 12px;
    left: 12px
}

#members .member .legend,
.members .member .legend {
    position: absolute;
    height: 50px;
    font-family: Armata, sans-serif;
    bottom: 10px;
    left: 10px;
    right: 10px
}

#members .member .legend .mask,
.members .member .legend .mask {
    border-radius: 0 0 3px 3px
}

#members .member .legend .details,
.members .member .legend .details {
    position: absolute;
    padding: 8px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20
}

#members .member .legend .details .a-favorite,
.members .member .legend .details .a-favorite {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 22px;
    margin: 10px
}

#members .member .legend .details a,
#members .member .legend .details a:active,
#members .member .legend .details a:hover,
.members .member .legend .details a,
.members .member .legend .details a:active,
.members .member .legend .details a:hover {
    color: #fff
}

#members .member .legend .details .text-note,
.members .member .legend .details .text-note {
    color: #ddd!important
}

#members .member .legend .details .a-verified,
.members .member .legend .details .a-verified {
    background: #28b62c;
    color: #fff;
    border-radius: 50%;
    padding: 3px;
    font-size: 11px;
    vertical-align: top;
    margin-right: 3px
}

#members .member .legend .details .city,
#members .member .legend .details .updated,
.members .member .legend .details .city,
.members .member .legend .details .updated {
    font-size: 10px
}

#members .member .legend .details .city,
#members .member .legend .details .city .text-note,
#members .member .legend .details .updated,
#members .member .legend .details .updated .text-note,
.members .member .legend .details .city,
.members .member .legend .details .city .text-note,
.members .member .legend .details .updated,
.members .member .legend .details .updated .text-note {
    color: #ddd!important
}

.new-profiles .member,
.profiles-with-private-photos .member,
.top-posters .member,
.verified-profiles .member {
    position: relative;
    float: left;
    padding: 2px
}

.new-profiles .member .avatar,
.new-profiles .member .avatar a,
.profiles-with-private-photos .member .avatar,
.profiles-with-private-photos .member .avatar a,
.top-posters .member .avatar,
.top-posters .member .avatar a,
.verified-profiles .member .avatar,
.verified-profiles .member .avatar a {
    margin: 0
}

.member .rank {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0
}

.top-posters .member {
    padding: 3px
}

.panel-transparent {
    background: 0 0;
    border: transparent;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none
}

.photos .panel-heading {
    padding: 0;
    border-bottom: 0
}

.photos .panel-heading .nav {
    padding: 5px 8px 0
}

.sub-navbar-wrapper {
    height: 25px
}

@media (max-width:992px) {
    .sub-navbar-wrapper {
        height: 35px
    }
}

.sub-navbar-wrapper .sub-navbar.docked {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    background-color: #1c2d3f;
    border-top: 1px solid #0c141c;
    z-index: 11
}

.sub-navbar-wrapper .sub-navbar.docked>.container {
    padding: 3px
}

.sub-navbar-wrapper .sub-navbar-m {
    margin: 0 auto;
    width: 250px;
    text-align: center;
    display: block
}

.sub-navbar-wrapper a:focus,
.sub-navbar-wrapper a:hover {
    color: #1dade5
}

.sub-navbar-wrapper .sub-navbar-lr {
    margin: 0!important
}

.sub-navbar-wrapper .sub-navbar-lr>span {
    max-width: 190px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px
}

#profile {
    font-size: 1.1em
}

@media (max-width:767px) {
    #profile {
        font-size: 1em
    }
}

#profile .contact-profile .avatar {
    margin-top: -6px;
    margin-bottom: -6px
}

#profile .bio {
    margin: 0
}

#profile .bio p {
    margin: 10px 0 0
}

#profile .stat-crumbs>small:not(:last-child) {
    border-right: 1px solid #e7e7e7;
    padding-right: 8px;
    margin-right: 8px
}

#profile a[disabled] {
    cursor: default
}

#profile .tags {
    margin-bottom: 10px;
    margin-top: -6px;
    padding: 0 6px
}

#profile .tags .tag {
    display: inline-block;
    margin-bottom: 5px
}

#profile .tags .tag a {
    margin-right: 2px
}

#profile .thumbs {
    width: 100%;
    position: relative;
    margin: 0
}

#profile .thumbs ul {
    display: inline-block;
    padding: 0;
    white-space: nowrap;
    margin: 0
}

#profile .thumbs ul li {
    display: inline-block;
    list-style: none;
    position: relative
}

@media (min-device-width:992px) {
    #profile .thumbs ul li:hover {
        opacity: .7
    }
}

#profile .thumbs ul li.adder {
    vertical-align: middle;
    margin-right: 15px;
    cursor: pointer;
    color: #158cba;
    text-align: center;
    font-weight: 800;
    font-size: 1.2em;
    height: 100px;
    width: 150px
}

#profile .thumbs ul li .pad,
#profile .thumbs ul li img {
    max-width: 200px;
    height: 100px;
    display: inline
}

#profile .thumbs ul li .glyphicon-remove {
    position: absolute;
    font-size: 1.5em;
    right: 7.5px;
    top: 7.5px
}

#profile .thumbs ul li .fa-check {
    position: absolute;
    font-size: 1.5em;
    left: 7.5px;
    bottom: 7.5px
}

#profile .main {
    position: relative
}

#profile .main .panel-body {
    padding: 0
}

#profile .main .bg-changer {
    -webkit-transition: height .2s ease-in-out;
    -moz-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    height: 0
}

#profile .main .bg-changer.active {
    height: 115px
}

#profile .main .bg-changer li.adder {
    width: 200px;
    white-space: normal;
    margin-right: 0
}

#profile .main .bg-changer li.bg-own+li.divider {
    width: 10px
}

#profile .main .bg-edit {
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

#profile .main .bg {
    position: absolute;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 3px 3px 0 0
}

#profile .main .bg .changer {
    z-index: 5;
    left: 50%;
    bottom: 40%;
    width: 200px;
    margin-left: -100px;
    position: absolute;
    opacity: .8
}

@media (max-width:768px) {
    #profile .main .bg .changer {
        bottom: 15px;
        left: 15px;
        margin-left: 0
    }
    #profile .main .bg .changer>.btn {
        padding: 8px 12px 7px
    }
}

#profile .main .bg .title-mask {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: rgba(1, 1, 1, .8);
    opacity: .3
}

#profile .main .bg .home-city {
    position: absolute;
    z-index: 3;
    right: 15px;
    bottom: 15px;
    font-size: 16px
}

@media (max-width:768px) {
    #profile .main .bg .title-mask {
        width: 100%
    }
    #profile .main .bg .home-city {
        right: 3px;
        bottom: 3px;
        font-size: 14px
    }
}

#profile .main .bg .edit-btns {
    position: absolute;
    z-index: 6;
    right: 15px;
    bottom: 15px
}

#profile .main .bg .permalink {
    background-color: rgba(1, 1, 1, .8);
    z-index: 10;
    padding: 6px;
    right: 0;
    position: absolute
}

#profile .main .title {
    position: absolute;
    z-index: 4;
    left: 0;
    width: 200px;
    padding-top: 15px;
    text-align: center
}

@media (max-width:768px) {
    #profile .main .title {
        width: 100%
    }
}

#profile .main .title h1 {
    font-size: 1.4em;
    font-weight: 200;
    color: #fff
}

#profile .main .title .avatar {
    margin: 0
}

#profile .main .title .form-control {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    font-weight: 700;
    width: 80%
}

#profile .main .title .gender.fa {
    font-size: .6em;
    opacity: .5;
    color: #fff
}

@media (min-device-width:992px) {
    #profile .main .title a .fa:hover {
        color: #158cba
    }
}

#profile .main .buffer {
    height: 300px
}

#profile .main .contacts {
    padding: 15px
}

@media (max-width:768px) {
    #profile .main .contacts {
        font-size: .9em;
        padding: 6px
    }
}

#profile .main .contacts .avatar a {
    margin: 0
}

#profile .main .contacts:not(.docked)>.container {
    width: 100%;
    padding: 0;
    margin: 0
}

#profile .main .contacts.docked {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 12
}

#profile .main .contacts.docked>.container {
    padding: 0
}

@media (max-width:767px) {
    #profile .main .contacts.docked .ex>:not(.show-dock-xs) {
        display: none
    }
}

#profile .main .contacts .ex {
    margin-top: 5px;
    margin-bottom: 0
}

#profile .main .contacts .ex,
#profile .main .contacts .ex dd,
#profile .main .contacts .ex dt {
    display: inline;
    vertical-align: middle;
    font-weight: 200
}

#profile .main .contacts .ex .dd,
#profile .main .contacts .ex dd {
    margin-right: 3px
}

#profile .main .contacts .ex .fa,
#profile .main .contacts .ex .glyphicon {
    margin-right: 3px;
    vertical-align: middle;
    font-size: 1.5em
}

@media (min-width:767px) {
    #profile .main .contacts .ex .fa,
    #profile .main .contacts .ex .glyphicon {
        font-size: 2em
    }
    #profile .main .contacts .ex dt {
        margin-left: 15px
    }
}

#profile .photos.edit .thumbs:not(.has-error) ul li {
    border: 3px solid #eee
}

#profile .photos.edit .thumbs:not(.has-error) ul li.main {
    border-color: #75caeb
}

#profile .info dl {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-bottom: 0
}

#profile .info dl dt {
    float: left;
    clear: left;
    width: 6em;
    margin-right: 3px
}

#profile .info .panel-footer {
    background-color: transparent
}

#profile .links dl dd {
    margin-bottom: 15px
}

#profile .feed .title {
    font-size: .7em
}

.credit-card-form .card-photos {
    margin-bottom: 10px
}

.credit-card-form .btn-group {
    margin-bottom: 15px
}

.form-control-thin {
    padding-left: 5px;
    padding-right: 0
}

@media (min-width:992px) {
    #cities.modal ul.countries {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2
    }
    #cities.modal ul.countries>li {
        display: inline-block;
        width: 100%
    }
}

#links textarea {
    display: block;
    padding: 9.5px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 112px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto
}

#account-stats .filters .btn-group>label,
#account-stats .stat {
    display: inline-block
}

#account-stats .stat {
    width: 85%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f5f5f5;
    position: relative
}

#account-stats .stat h2 {
    margin-top: 10px;
    margin-bottom: 10px
}

#account-stats .stat-requests {
    background: #fff8f1;
    border-color: #ffe7d3
}

#account-stats .stat-fans {
    background: #f2fafd;
    border-color: #d7f0f9
}

#account-stats .stat-ads {
    background: #f5fdf5;
    border-color: #cbf4cc
}

#account-stats .negative {
    color: #ff4136
}

#account-stats .positive {
    color: #28b62c
}

#account-stats .chart {
    height: 300px
}

#account-stats .range>.dropdown {
    width: 150px;
    display: inline-block;
    margin-left: 15px
}

#account-stats .filters {
    margin-top: 20px
}

@media (max-width:768px) {
    #account-stats .range>.dropdown {
        width: 45%
    }
    #account-stats .filters {
        margin-top: 0;
        width: 100%
    }
    #account-stats .filters .btn-group {
        width: 100%
    }
    #account-stats .filters .btn-group>label {
        width: 33.33%
    }
}

#send-message.modal .message-thread {
    padding: 0
}

#send-message.modal .message-thread .alert {
    margin-bottom: 15px;
    max-width: 70%;
    list-style: none;
    background-color: #ccc;
    clear: both
}

#send-message.modal .message-thread .alert.inbound {
    float: left
}

#send-message.modal .message-thread .alert.outbound {
    float: right;
    background-color: #158cba;
    color: #fff
}

#send-message.modal .message-thread .alert .time {
    font-size: .8em;
    color: #000
}

#notFound .panel {
    float: none;
    margin: 0 auto
}

#notFound .btn {
    margin-bottom: 15px
}

#notFound .quicklinks a {
    margin: 8px
}

#disclaimer .modal-header {
    padding-bottom: 0
}

#disclaimer .modal-header img {
    width: 200px;
    margin: 0 auto;
    display: block
}

#disclaimer .modal-body {
    padding-bottom: 1px
}

#tour .features .feature {
    height: 175px
}

#tour .row {
    padding: 40px 0
}

#tour .row h3.row-header {
    margin: 0 0 50px
}

#tour .row>.row {
    padding: 0;
    margin: 0
}

#tour .row-secondary {
    background: #fafafa
}

#tour .row-founder blockquote {
    margin: 0
}

#tour .promo-header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .9)), url(/assets/img/bg/city-bridge.jpg);
    background-size: cover;
    background-position: 0 0, 50% 10%;
    background-repeat: no-repeat;
    padding: 140px 10px 120px;
    margin-left: -16px;
    margin-right: -16px
}

#tour .promo-header h1,
#tour .promo-header h2,
#tour .promo-header h3,
#tour .promo-header p {
    color: #fff
}

#tour .promo-header p:link,
#tour .promo-header p a {
    color: #fff;
    text-decoration: underline
}

#tour .panel-body {
    padding-top: 0
}

.striped #home .bg {
    background-image: url(/assets/img/bg/model-wallpaper.jpg);
    height: 1100px;
    color: #000
}

.scroller {
    max-height: 450px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative
}

@media (max-width:768px) {
    .scroller {
        max-height: 280px
    }
}

@media (max-width:350px) {
    .scroller {
        max-height: 220px
    }
}

.nearby-cities .label {
    margin-right: 3px;
    margin-bottom: 2px;
    float: left
}

#cities.container ul.countries>li {
    padding: 15px
}

#cities.container .row h3 {
    margin: 0
}

.hide-profile-btn {
    border: 1px dashed #ff4136;
    color: #ff4136;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: rgba(0, 0, 0, .2)
}

.hide-profile-btn:active,
.hide-profile-btn:focus,
.hide-profile-btn:hover {
    border-bottom-width: 1px;
    color: #ff4136
}

#share-profile .modal-header {
    background-color: #f9f9f9;
    padding: 12px 10px 0
}

#share-profile .modal-header .constrain-nav {
    margin-right: 30px
}

.share-profile-url-box {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px
}

.share-profile-url-box a {
    font-size: 16px
}

.share-profile-url-box .desc {
    margin-top: 2px;
    font-size: 14px
}

.input-group-addon .btn {
    border: none
}

.contact-profile .call h2 {
    display: inline-block;
    margin: 0;
    min-width: 82px
}

.feed-item .contact-profile .cover {
    line-height: 1
}

.nav-subscription-text {
    color: #ff851b!important
}

.vip-filter-blocker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5)
}

.keep-open>.dropdown-menu {
    display: block!important
}

.relative {
    position: relative
}

#upgrade .modal-body {
    background: url(/assets/img/bg/city-bridge.jpg)
}

#upgrade .panel-body {
    padding: 0
}

#upgrade .panel-heading {
    padding: 0;
    height: 1px
}

#upgrade .vip-features {
    color: #fff
}

#upgrade .vip-notes {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    padding: 4px 6px;
    display: inline-block
}

#upgrade .plan-name {
    font-size: 19px
}

#upgrade .plan-price {
    margin-top: 6px
}

.buy-credits .pkg-description-row td {
    border-bottom: 2px solid #ddd;
    padding-top: 0
}

.buy-credits .pkg-description-row:last-child td {
    border-bottom: none
}

.buy-credits .change-card-wrapper {
    margin: -5px
}

#buy-credits .modal-footer {
    margin-top: 0;
    padding-top: 0;
    border-top: 0
}

.text-line-through {
    text-decoration: line-through
}

.vertical-align-middle {
    vertical-align: middle
}

.vertical-scroll {
    overflow-x: hidden;
    overflow-y: auto
}

html.touchevents .vertical-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

.horizontal-scroll {
    overflow-x: auto;
    overflow-y: hidden
}

html.touchevents .horizontal-scroll {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch
}

.horizontal-scroll .nav.nav-pills {
    white-space: nowrap
}

.horizontal-scroll .nav.nav-pills>li {
    float: none;
    display: inline-block;
    margin: 0
}

.horizontal-scroll .nav.nav-pills>li>a {
    padding: 5px 7px
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    margin-left: 40px;
    margin-top: -10px;
    z-index: 3
}

.nearby-city-title {
    margin-top: -6px;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    padding-bottom: 4px
}

.linechart .chart-legend {
    display: none
}

/* BGG ADDED */

.collapsed-block {
    padding: 0 0 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e9ecef
}

.collapsed-block.unbordered {
    border-bottom: none
}

@media screen and (max-width:767px) {
    .collapsed-block {
        padding: 0 15px;
        margin-bottom: 0
    }
}

/*****    BEGIN TABLE SETTINGS    *****/

.da-review-table {
    display: table;
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px solid #e9ecef
}

@media screen and (max-width:767px) {
    .da-review-table.scrolled {
        display: block;
        overflow-x: auto
    }
}

@media screen and (max-width:767px) {
    .da-review-table {
        margin: 10px 0 10px
    }
}

.da-review-table .tr {
    display: table-row
}

.da-review-table .tr:first-child.active {
    background-color: transparent
}

.da-review-table .tr.active {
    background-color: #f5f8fa
}

.da-review-table .tr.highlighted {
    font-family: open_sanssemibold
}

.da-review-table .tr.highlighted .add-info {
    font-family: open_sansregular
}

.da-review-table .tr-block {
    display: block;
    text-align: center
}

.da-review-table .tr a:visited {
    color: #813ee8;
}

.da-review-table .tr a:visited:focus,
.da-review-table .tr a:visited:hover {
    border-bottom: 1px solid #595959;
}

.da-review-table .tr a:visited:focus span,
.da-review-table .tr a:visited:hover span {
    border-bottom: 1px solid #595959;
}

.da-review-table .tr a:visited .icon-lock {
    color: #595959;
}

.da-review-table .tr a.vip-only-link:visited {
    color: #f300fe;
}

.da-review-table .tr a.vip-only-link:visited .icon-lock,
.da-review-table .tr a.vip-only-link:visited span {
    color: #595959;
}

.da-review-table .tr a.vip-only-link:visited:focus span,
.da-review-table .tr a.vip-only-link:visited:hover span {
    border-color: #f300fe;
}

.da-review-table .td {
    display: table-cell;
    vertical-align: top;
    padding: 5px 5px;
    border-top: 1px solid #e9ecef
}

@media screen and (max-width:767px) {
    .da-review-table .td {
        padding: 5px 5px
    }
}

.da-review-table .td .checkbox span {
    margin-left: -20px
}

.da-review-table .td .checkbox label {
    padding-left: 20px
}

.da-review-table .td .icon-ok {
    margin-right: 0
}

.da-review-table .td-h {
    color: #333;
    text-transform: lowercase;
    font-size: 14px;
    border-top: none;
    font-weight: 400;
}

@media screen and (min-width:768px) {
    .da-review-table .td-h {
        white-space: nowrap
    }
}

@media screen and (max-width:767px) {
    .da-review-table .td-h {
        vertical-align: top
    }
}

@media screen and (max-width:767px) {
    .da-review-table .td-last-column {
        padding-right: 15px
    }
}

.da-review-table .td-small {
    width: 5%;
    white-space: nowrap
}

.da-review-table .td-online-status {
    width: 10px
}

.da-review-table .td-15 {
    width: 15%
}

.da-review-table .td-25 {
    width: 25%
}

@media screen and (max-width:991px) {
    .da-review-table .td-middle-xs {
        width: 35%
    }
}

.da-review-table .td-middle {
    width: 25%
}

@media screen and (max-width:991px) {
    .da-review-table .td-middle {
        width: 35%
    }
}

.da-review-table .td-medium {
    width: 35%
}

.da-review-table .td-large {
    width: 50%
}

.da-review-table .td-larger {
    width: 70%
}

@media screen and (max-width:767px) {
    .da-review-table .td.td-icon {
        display: none
    }
}

.da-review-table .td.td-button {
    border-top: 1px solid #e9ecef
}

.da-review-table .td.td-edit:visited {
    color: #007cb9
}

.da-review-table .td-button {
    background: 0 0;
    border: none;
    outline: 0;
    box-shadow: none;
    padding: 0;
    height: auto;
    text-transform: uppercase;
    vertical-align: middle
}

.da-review-table .td-button .icon-sort {
    margin-left: 10px;
    color: #7b8389;
    opacity: .6
}

.da-review-table .td-button .btn-primary {
    background: 0 0;
    border: none;
    outline: 0;
    box-shadow: none;
    padding: 0;
    height: auto
}

.da-review-table .td-button .btn-primary .icon-right-open-1 {
    color: #53a9a6
}

.da-review-table .td-button.sorted .icon-sort {
    opacity: 1;
    color: #333
}

.da-review-table .td-delete-button {
    background: 0 0;
    border: none;
    outline: 0;
    box-shadow: none;
    padding: 0;
    height: auto;
    color: #007aa2
}

.da-review-table .td-link {
    display: block;
    border-bottom: none;
    position: relative;
    padding-right: 10px
}

.da-review-table .td-link.vip-only-link:visited span {
    color: #dc763c
}

.da-review-table .td-link:visited {
    color: #d2832f
}

.da-review-table .td-link:visited:focus,
.da-review-table .td-link:visited:hover {
    border-bottom: 1px solid #d2832f
}

.da-review-table .td-link:hover {
    border-bottom: none
}

.da-review-table .td-link .icon-right-open-1 {
    color: #53a9a6
}

.da-review-table .td-link span {
    color: #333
}

@media screen and (max-width:991px) {
    .da-review-table .td-link span {
        display: block
    }
}

.da-review-table .td-subject {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .da-review-table .td-subject {
        display: inline-block
    }
}

.da-review-table .td-collapse {
    position: relative;
    display: table-cell;
    border-top: 1px solid #e9ecef;
    padding: 5px 5px
}

.da-review-table .td-collapse-h {
    border-top: none
}

.da-review-table .td-online-status a {
    display: inline-block;
    border: none
}

.da-review-table .td-online-status a:focus,
.da-review-table .td-online-status a:hover {
    border: none
}

.da-review-table .add-info {
    display: block;
    font-size: 13px;
    color: #7b8389;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all
}

@media screen and (max-width:991px) {
    .da-review-table .add-info {
        font-size: 14px
    }
}

@media screen and (max-width:767px) {
    .da-review-table .add-info {
        font-size: 11px
    }
}

.da-review-table .icon-star-empty.favourite {
    color: #ffce37
}

.da-review-table .icon-write {
    color: #dbe0e4
}

.pager-container {
    margin: 0px 0 0px 0px;
    width: 100%;
}

.pager-container nav {
    float: none;
}

@media screen and (max-width:991px) {
    .pager-container nav {
        float: none;
        margin-top: 10px;
    }
}

@media screen and (max-width:767px) {
    .pager-container nav {
        margin-top: 0
    }
}

.pager-container .pager {
    margin: 0;
    font-weight: 200;
}

.pager-container .pager li span,
.pager-container .pager li>a {
    display: inline-block;
    margin: 0;
    padding: 0 0px;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    text-decoration: none
}

.pager-container .pager li span:focus,
.pager-container .pager li span:hover,
.pager-container .pager li>a:focus,
.pager-container .pager li>a:hover {
    background-color: transparent
}

.pager-container .pager li span.active,
.pager-container .pager li span.active:visited,
.pager-container .pager li>a.active,
.pager-container .pager li>a.active:visited {
    color: #333
}

.pager-container .pager li span.pager-word,
.pager-container .pager li>a.pager-word {
    transition: border .1s;
}

.pager-container .pager li span.pager-word:hover,
.pager-container .pager li>a.pager-word:hover {
    border-bottom: 1px solid #007cb9
}

@media screen and (max-width:767px) {
    .pager-container .pager li span.pager-word,
    .pager-container .pager li>a.pager-word {
        display: none
    }
}

.pager-container .pager li span .icon-left-open,
.pager-container .pager li>a .icon-left-open {
    margin-right: 8px
}

.pager-container .pager li span .icon-right-open-1,
.pager-container .pager li>a .icon-right-open-1 {
    margin-left: 8px
}

.action-write-pro {
    display: block;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px 5px 5px 0px;
    color: #fff;
    background: #0094ff;
    border: 1px solid #0094ff;
    transition: all .3s;
}

.action-write-pro:active,
.action-write-pro:focus,
.action-write-pro:hover {
    background: transparent;
    border: 1px solid #0094ff;
    color: #0094ff;
}

.btn-cli {
    border: none;
    transition: background .3s;
    background-color: #0094ff; /* site blue */
    color: #ffffff;
    border: 1px solid #0094ff;
    border-radius: 4px;
    margin: 2px 5px;
}

.btn-cli:active,
.btn-cli:focus,
.btn-cli:hover {
    background-color: transparent; /* no color */ 
    color: #0094ff;
    border: 1px solid #0094ff;
    border-radius: 4px;
    margin: 2px 5px;
}
.btn-cli-sm {
    border: none;
    transition: background .3s;
    background-color: #0094ff; /* site blue */
    color: #ffffff;
    border: 1px solid #0094ff;
    border-radius: 4px;
    margin: 0px 0px;
    font-size: 12px;
    font-weight: 300;
    text-transform: lowercase;
}

.btn-cli-sm:active,
.btn-cli-sm:focus,
.btn-cli-sm:hover {
    background-color: transparent; /* no color */ 
    color: #0094ff;
    border: 1px solid #0094ff;
    border-radius: 4px;
    margin: 0px 0px;
}

.btn-cli-pro {
    border: none;
    transition: background .3s;
    background-color: #813ee8; /* purple */
    color: #ffffff;
    border: 1px solid #813ee8;
    border-radius: 4px;
    margin: 5px 5px;
}

.btn-cli-pro:active,
.btn-cli-pro:focus,
.btn-cli-pro:hover {
    background-color: transparent; /* no color */ 
    color: #813ee8;
    border: 1px solid #813ee8;
    border-radius: 4px;
    margin: 5px 5px;
}

.btn-cli-grad {
    border: none;
    transition: background .3s;
    background: #0094ff; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, #f300fe, #0094ff); /* Standard syntax (must be last) */
    color: #ffffff;
    border: 1px solid #813ee8;
    border-radius: 4px;
    margin: 5px 5px;
}

.btn-cli-grad:active,
.btn-cli-grad:focus,
.btn-cli-grad:hover {
    background: transparent; /* no color */ 
    color: #813ee8;
    border: 1px solid #813ee8;
    border-radius: 4px;
    margin: 5px 5px;
}