

/* BEGIN PRINT SETTINGS */

@media print {
    *,
    :after,
    :before {
        background: 0 0!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    blockquote,
    pre {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    img,
    tr {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
    .navbar {
        display: none
    }
    .btn>.caret,
    .dropup>.btn>.caret {
        border-top-color: #000!important
    }
    .label {
        border: 1px solid #000
    }
    .table {
        border-collapse: collapse!important
    }
    .table td,
    .table th {
        background-color: #fff!important
    }
    .table-bordered td,
    .table-bordered th {
        border: 1px solid #ddd!important
    }
}

/* END PRINT SETTINGS */

/* BEGIN GENERAL SITE SETTINGS */

* {
    box-sizing: border-box
}

:after,
:before {
    box-sizing: border-box
}

html {
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    color: #333;
    background-color: #f9f4f5;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #0094ff;
    text-decoration: none
}

a:focus,
a:hover {
    color: #813ee8;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}
.aligncenter {
    margin-left: auto;
        margin-right: auto;
        display: block;
        clear: both;
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.text-nowrap {
    white-space: nowrap
}

.text-lowercase {
    text-transform: lowercase
}

.text-uppercase {
    text-transform: uppercase
}

.text-capitalize {
    text-transform: capitalize
}

.text-muted {
    color: #777
}

.text-primary {
    color: #337ab7
}

a.text-primary:focus,
a.text-primary:hover {
    color: #286090
}

.text-success {
    color: #3c763d
}

a.text-success:focus,
a.text-success:hover {
    color: #2b542c
}

.text-info {
    color: #31708f
}

a.text-info:focus,
a.text-info:hover {
    color: #245269
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0
}
.dropdown,
.dropup {
    position: relative
}
.dropdown-toggle:focus {
    outline: 0
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
    color: #777
}

.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    cursor: not-allowed
}

.open>.dropdown-menu {
    display: block
}

.open>a {
    outline: 0
}

.dropdown-menu-right {
    left: auto;
    right: 0
}

.dropdown-menu-left {
    left: 0;
    right: auto
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990
}

.pull-right>.dropdown-menu {
    right: 0;
    left: auto
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    content: ""
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px
}

/* BGG added */

.navbar-nav .nav-item .nav-link a {
    font-size: 13px;
    font-family: inherit;
    font-weight: 400;
    text-align: center;
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #eee
}

.nav>li.disabled>a {
    color: #777
}

.nav>li.disabled>a:focus,
.nav>li.disabled>a:hover {
    color: #777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed
}

.nav>li>a>img {
    max-width: none
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-overflow-scrolling: touch
}

.navbar-collapse.in {
    overflow-y: auto
}

@media (min-width:1200px) {
    .navbar-collapse {
        width: auto;
        box-shadow: none
    }
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important
    }
    .navbar-collapse.in {
        overflow-y: visible
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: 340px
}

@media (max-device-width:480px) and (orientation:landscape) {
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 200px
    }
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width:1200px) {
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: 0;
        margin-left: 0
    }
}

.navbar-static-top {
    z-index: 1000;
}

@media (min-width:1200px) {
    .navbar-static-top {
        border-radius: 0
    }
}

.navbar-fixed-bottom,
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}

.navbar-fixed-top {
    top: 0;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: -17px;
    margin-bottom: -17px;
    background-color: transparent;
    background-image: none;
    border-radius: 4px
}

.navbar-toggle:focus {
    outline: 0
}

@media (min-width:1200px) {
    .navbar-toggle {
        display: none
    }
}

.navbar-nav {
    margin: -5px -15px
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}

@media (max-width:1199px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }
    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 15px 5px 25px
    }
    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px
    }
    .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-nav .open .dropdown-menu>li>a:hover {
        background-image: none
    }
}

@media (min-width:1200px) {
    .navbar-nav {
        float: left;
        margin: 0
    }
    .navbar-nav>li {
        float: left
    }
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}



@media (min-width:1200px) {
    .navbar-left {
        float: left!important
    }
    .navbar-right {
        float: right!important;
        margin-right: -15px
    }
    .navbar-right~.navbar-right {
        margin-right: 0
    }
}



.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,

.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
    content: " ";
    display: table
}

.clearfix:after,
.container-fluid:after,
.container:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,{
    clear: both
}

.clearfix:after,
.container-fluid:after,
.container:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden
}

.hidden {
    display: none!important
}

.affix {
    position: fixed
}

@-ms-viewport {
    width: device-width
}

.header {
    position: relative;
    transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    z-index: 20
}

@media screen and (min-width:1200px) {
    .header {
        position: fixed;
        width: 100%;
        top: 0
    }
}

/* BEGIN SUBMENU */
.submenu {
    background-color: #f9f9f9; /* old e9ecef */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    float:none;
    width: 100%;
    position: relative;
}
.submenu_wrapper {
    position: relative;
    width: 100%;
    float:none;
  margin-top: 10px; 
}

.submenu .container {
    padding: 5px 0 5px 0;
    margin: auto;
    float: none;
    width: 100%;
}

.submenu.no-wrap {
    white-space: normal
}

@media screen and (max-width:991px) {
    .submenu .container {
        padding: 0px 0 0 0;
        margin: auto;
        float: none;
    }
}

.submenu ul {
    list-style-type: none;
    text-align: center;
}

.submenu li {
    display: inline-block;
    position: relative;
    border-bottom: 2px solid transparent;
    margin-right: 25px
}

@media screen and (max-width:767px) {
    .submenu li {
        margin-right: 0
    }
}

.submenu li.active {
    border-bottom: 2px solid #ae92ed
}

.submenu .submenu-item {
    display: inline-block;
    color: #333;
    font-size: 13px;
    padding: 8px 15px 6px;
    border: none
}

@media screen and (max-width:991px) {
    .submenu .submenu-item {
        font-size: 15px;
        padding: 16px 10px 13px
    }
    .submenu .submenu-item.with-alert {
        padding: 16px 20px 13px 10px
    }
}

@media screen and (max-width:767px) {
    .submenu .submenu-item {
        border-bottom: 1px solid transparent;
        font-size: 13px;
        padding: 12px 10px 10px;
        font-family: 'Source Sans Pro'
    }
    .submenu .submenu-item.with-alert {
        padding: 12px 20px 10px 10px
    }
}

@media screen and (min-width:768px) {
    .submenu .submenu-item:hover {
        color: #0094ff /* is blue - original was 01938e */
    }
    .submenu .submenu-item:hover .caret {
        color: #01938e
    }
}

.submenu .submenu-item .caret {
    color: #7b8389;
    position: relative;
    bottom: 2px
}

.submenu .submenu-item .badge {
    bottom: 15px
}

@media screen and (max-width:991px) {
    .submenu .submenu-item .badge {
        bottom: 25px
    }
}

@media screen and (max-width:767px) {
    .submenu .submenu-item .badge {
        bottom: 15px
    }
}

.submenu .submenu-dropdown-wrapper {
    position: relative
}

@media screen and (max-width:1199px) {
    .submenu .submenu-dropdown-wrapper:last-child {
        margin-right: 90px
    }
}

@media screen and (max-width:991px) {
    .submenu .submenu-dropdown-wrapper:last-child {
        margin-right: 70px
    }
}

@media screen and (max-width:767px) {
    .submenu .submenu-dropdown-wrapper:last-child {
        margin-right: 90px
    }
}

.submenu .submenu-dropdown-wrapper.open .dropdown-menu {
    visibility: visible;
    opacity: 0.95;
}

.submenu .submenu-dropdown li {
    display: block
}

.submenu .dropdown-menu {
    position: fixed;
    border: none;
    background-color: #f6f6f6; /* old e9ecef */
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-width: 180px;
    max-width: 205px;
    z-index: 1000
}

.submenu .dropdown-menu.wide {
    min-width: 0;
    max-width: 700px;
    margin-right: 5px
}

@media screen and (max-width:767px) {
    .submenu .dropdown-menu.wide {
        min-width: 180px;
        max-width: 205px;
        -webkit-overflow-scrolling: touch
    }
}

.submenu .dropdown-menu.wide .col-1 li {
    border-left: 2px solid transparent
}

.submenu .dropdown-menu.wide .col-1 li.active {
    border-left: 2px solid #ae92ed
}

.submenu .dropdown-menu.wide .col-1 li:focus,
.submenu .dropdown-menu.wide .col-1 li:hover {
    border-left: 2px solid #ae92ed
}

@media screen and (max-width:767px) {
    .submenu .dropdown-menu.wide .col-1 li:focus,
    .submenu .dropdown-menu.wide .col-1 li:hover {
        border-left: 2px solid transparent
    }
}

.submenu .dropdown-menu.wide li {
    border-left: 2px solid #dce2e9
}

.submenu .dropdown-menu.wide li:focus,
.submenu .dropdown-menu.wide li:hover {
    border-left: 2px solid #ae92ed
}

.submenu .dropdown-menu.wide li:last-child {
    margin-right: 0
}

.submenu .dropdown-menu.wide li:last-child a {
    padding-bottom: 12px
}

@media screen and (max-width:767px) {
    .submenu .dropdown-menu.wide li {
        border-left: 2px solid transparent
    }
}

.submenu .dropdown-menu.wide a {
    padding: 4px 45px 4px 20px;
    white-space: nowrap
}

@media screen and (max-width:991px) {
    .submenu .dropdown-menu.wide a {
        padding: 4px 25px 4px 20px
    }
}

@media screen and (max-width:767px) {
    .submenu .dropdown-menu.wide a {
        padding: 10px 12px 10px 20px;
        white-space: normal
    }
}

@media screen and (max-width:1199px) {
    .submenu .dropdown-menu {
        max-width: 200px;
        margin-left: 10px
    }
}

@media screen and (max-width:767px) {
    .submenu .dropdown-menu {
        max-width: 180px;
        margin-left: 0
    }
}

.submenu .dropdown-menu li {
    border: none;
    border-left: 2px solid transparent;
    transition: border .1s
}

.submenu .dropdown-menu li:first-child a {
    padding-top: 4px
}

.submenu .dropdown-menu li:last-child {
    margin-right: 0
}

.submenu .dropdown-menu li:last-child a {
    padding-bottom: 4px
}

.submenu .dropdown-menu li.active,
.submenu .dropdown-menu li:focus,
.submenu .dropdown-menu li:hover {
    outline: 0;
    border-left: 2px solid #ae92ed
}

.submenu .dropdown-menu li.active a,
.submenu .dropdown-menu li:focus a,
.submenu .dropdown-menu li:hover a {
    background-color: transparent
}

.submenu .dropdown-menu li a {
    font-family: 'Source Sans Pro', sans serif;
    font-size: 12px;
    font-weight: 400;
    color: #0094ff;
    padding: 4px 10px;
    margin-right: 0;
    white-space: normal;
    display: block
}

@media screen and (max-width:1199px) {
    .submenu .dropdown-menu li a {
        font-size: 12px
    }
}

@media screen and (max-width:767px) {
    .submenu .dropdown-menu li a {
        padding: 10px 12px 10px 20px
    }
}

.submenu .dropdown-menu li a:focus,
.submenu .dropdown-menu li a:hover {
    background-color: #e9ecef;
    color: #813ee8;
    border-bottom-color: transparent
}

@media screen and (max-width:767px) {
    .submenu .dropdown-menu-content {
        height: 258px;
        overflow-y: auto
    }
}

.submenu .list-down,
.submenu .list-up {
    text-align: left;
    color: #333;
    margin-left: 23px
}

.submenu .list-down.dim,
.submenu .list-up.dim {
    opacity: .3
}

.submenu .list-down .caret,
.submenu .list-up .caret {
    margin-left: 0;
    border-top: 6px dashed;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent
}

@media screen and (min-width:768px) {
    .submenu .list-down,
    .submenu .list-up {
        display: none
    }
}

.submenu .list-up {
    margin-top: 5px
}

.submenu .list-up .caret {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.submenu .list-down {
    margin-bottom: 10px
}

.container {
    padding: 0;
    width: 1170px;
}

@media screen and (max-width:1199px) {
    .container {
        width: auto;
        padding: 0 30px
    }
}

@media screen and (max-width:767px) {
    .container {
        padding: 0 15px
    }
}

.dropdown-menu {
    box-shadow: 0 0 3px #efefef;
    border: 1px solid #e9ecef;
    border-radius: 3px;
    margin-top: 1px;
    min-width: 180px;
    z-index: 12
}

@media screen and (max-width:767px) {
    .dropdown-menu {
        min-width: 150px
    }
}

.dropdown-menu.typeahead {
    width: 100%
}

.dropdown-menu.typeahead .icon {
    font-size: 14px;
    color: #ae92ed;
    float: left
}

.dropdown-menu.typeahead span {
    display: inline;
    padding-left: 0
}

.dropdown-menu li.active a {
    background-color: #e9ecef;
    color: #333
}

.dropdown-menu li.active a:focus,
.dropdown-menu li.active a:hover {
    color: #333;
    background-color: #e9ecef
}

.dropdown-menu li a {
    display: block;
    border: none;
    padding: 9px 15px;
    color: #333;
    font-family: open_sansregular;
    white-space: normal
}

.dropdown-menu li a:focus,
.dropdown-menu li a:hover {
    border: none;
    color: #333;
    background-color: #e9ecef
}

.dropdown-backdrop {
    z-index: 5
}

.btn {
    padding: 0 30px;
    height: 35px
}

@media screen and (max-width:991px) {
    .btn {
        font-size: 16px;
        padding: 0 20px
    }
}

@media screen and (max-width:767px) {
    .btn {
        font-size: 13px;
        padding: 0 15px
    }
}

.btn.active,
.btn:active {
    box-shadow: none
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    background-color: #e9ecef;
    color: #7b8389;
    box-shadow: none
}

.btn.disabled:focus,
.btn.disabled:hover,
.btn[disabled]:focus,
.btn[disabled]:hover,
fieldset[disabled] .btn:focus,
fieldset[disabled] .btn:hover {
    background-color: #e9ecef
}

.btn+.btn {
    margin-left: 5px
}

.btn .icon {
    margin-right: 8px
}

@media screen and (max-width:767px) {
    .btn-block-xs {
        display: block
    }
}

@media screen and (max-width:767px) {
    .btn-block-xs+.btn {
        margin-left: 0;
        margin-top: 10px
    }
}

a.btn {
    border: none;
    padding: 8px 30px
}

@media screen and (max-width:991px) {
    a.btn {
        padding: 7px 20px
    }
}

@media screen and (max-width:767px) {
    a.btn {
        padding: 9px 15px
    }
}

a.btn-info {
    border: 1px solid #ae92ed
}

.btn-default {
    border: 1px solid #dce2e9
}

.btn-primary {
    border: none;
    transition: background .3s
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #5cbfbc
}

.btn-cxl {
    border: none;
    transition: background .3s;
    background-color: #7f7f7f; /* gray */
    color: #ffffff;
    border: 1px solid #7f7f7f;
    border-radius: 4px;
    margin: 5px 5px;
}

.btn-cxl:active,
.btn-cxl:focus,
.btn-cxl:hover {
    background-color: transparent; /* no color */ 
    color: #7f7f7f;
    border: 1px solid #7f7f7f;
    border-radius: 4px;
    margin: 5px 5px;
}

.btn-cli {
    border: none;
    transition: background .3s;
    background-color: #0094ff; /* site blue */
    color: #ffffff;
    border: 1px solid #0094ff;
    border-radius: 4px;
    margin: 5px 5px;
}

.btn-cli:active,
.btn-cli:focus,
.btn-cli:hover {
    background-color: transparent; /* no color */ 
    color: #0094ff;
    border: 1px solid #0094ff;
    border-radius: 4px;
    margin: 5px 5px;
}

.btn-cli-pro {
    border: none;
    transition: background .3s;
    background-color: #813ee8; /* purple */
    color: #ffffff;
    border: 1px solid #813ee8;
    border-radius: 4px;
    margin: 5px 5px;
}

.btn-cli-pro:active,
.btn-cli-pro:focus,
.btn-cli-pro:hover {
    background-color: transparent; /* no color */ 
    color: #813ee8;
    border: 1px solid #813ee8;
    border-radius: 4px;
    margin: 5px 5px;
}

.btn-cli-grad {
    border: none;
    transition: background .3s;
    background: #0094ff; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, #f300fe, #0094ff); /* Standard syntax (must be last) */
    color: #ffffff;
    border: 1px solid #813ee8;
    border-radius: 4px;
    margin: 5px 5px;
}

.btn-cli-grad:active,
.btn-cli-grad:focus,
.btn-cli-grad:hover {
    background: transparent; /* no color */ 
    color: #813ee8;
    border: 1px solid #813ee8;
    border-radius: 4px;
    margin: 5px 5px;
}

@media screen and (max-width:767px) {
    .btn-primary+.form-control {
        margin-top: 10px
    }
}

.btn-primary .icon-mail-wide {
    color: #fff
}

.btn-info {
    position: relative;
    border: 1px solid #ae92ed;
    background-color: #fff;
    color: #ae92ed;
    transition: all .3s;
    box-shadow: inset 0 0 0 1px #fff
}

.btn-info:hover {
    box-shadow: inset 0 0 0 1px #ae92ed;
    color: #ae92ed
}

.btn-info .icon-heart-full {
    display: none
}

.btn-info:hover .icon-heart-full {
    display: inline-block
}

.btn-info:hover .icon-heart {
    display: none
}

.btn-info.clicked {
    background-color: #ae92ed;
    color: #fff;
    border: 1px solid #ae92ed
}

.btn-info.clicked .icon-heart-full {
    display: inline-block
}

.btn-info.clicked .icon-heart {
    display: none
}

/* COLORS I LIKE */

.pill-large{height:30px;line-height:30px;padding:1px 15px}

.gridlove-action-link,.gridlove-pill{display:inline-block;height:24px;line-height:24px;padding:0 11px;transition:all .2s ease-in-out}

.gridlove-pill:hover,.gridlove-author-links a:hover,.entry-category a:hover{background: #111;color: #FFF;}

.gridlove-author-links .gridlove-pill{margin-bottom:2px}

.btn-grad{
   
    background: #0094ff; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, #0094ff, #f300fe); /* Standard syntax (must be last) */
    border-radius:4px;
    color: #ffffff;
}

#pro-profile-list .title a {
    font-size:12px;
    color: #fff;
}

#pro-profile-list .desc p {
    font-size:10px;
    color: #595959;
}

#pro-profile-list .title a {
    font-size:12px;
    color: #fff;
}

#pro-profile-list-img {
    max-width: 100%;
    height: auto;
}

#list-sort {
    font-size: 14px;
    float: left;
    margin-bottom: 10px;
    
}
#list-sort {
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
}
#list-sort a {
    font-size: 14px;
    margin-bottom: 5px;
    
}

/*  BGG ADDED */

.da-margin-top {
    margin-top: 80px;
}
